html,
body {
    margin: 0;
    scroll-behavior: smooth; //平滑捲動
    font-family: "Josefin Sans", Helvetica, Arial, "微軟正黑體", "Heiti TC", "メイリオ", sans-serif;
}

nav {
    opacity: 0;

    //    button color
    .navbtn {
        background-color: #635238;
    }

    span {
        color: white;
    }
}

.nav_logo {
    a {
        img {
            width: 120px;
        }
    }
}

// js才有
.scrolled {
    opacity: 0.6;
    background-color: black;
}

main {
    width: 100%;
    background-image: url(./img/01245.jpg);

    #Banner {
        position: relative;
        .banner {
            width: 100%;
            position: absolute;
            //宣告動畫
            animation-name: banner_img; //跟標簽(banner)說要執行的動畫名字
            animation-duration: 4s; //設定動畫跑多久,跟banner標籤說要跑多久,我設定5秒的時間
            animation-iteration-count: 1;
            //跟標籤(banner)說這個動畫執行幾次,1次就是執行1次不會重復

            img {
                width: 100%;
                display: block;
            }

            @keyframes banner_img {
                0% {
                    // transform: translateY(10%);
                    opacity: 0;
                }

                100% {
                    // transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        .banner_logo {
            width: 18%;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: banner_logo;
            animation-duration: 10s;
            animation-iteration-count: 1;
            img {
                width: 100%;
            }
            @keyframes banner_logo {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .text {
            width: 100%;
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: texts;
            animation-duration: 6s;
            animation-iteration-count: 1;
            @media screen and(max-width:1200px) {
                display: none;
            }
            p {
                margin: 0 auto;
                width: 500px;
                text-align: center;
                line-height: 45px;
                font-size: 18px;
                color: white;
            }
            @keyframes texts {
                0% {
                    transform: translate(-50%, 90%);
                    opacity: 0;
                }

                100% {
                    transform: translate(-50%, 0%);
                    opacity: 1;
                }
            }
        }

        .banner1 {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                display: block;
                opacity: 0;
            }
        }

        // 回首頁
        #comback {
            position: fixed;
            right: 10px;
            bottom: 10px;
            font-size: 50px;
            color: #635238;
            @media screen and (max-width:540px){
                display: none;
            }
        }
    }

    //材料介紹
    #text_photo {
        .container {
            width: 100%;
            margin-top: 15%;
            .row {
                max-width: 1000px;
                margin: 0 auto;

                .circle_line {
                    display: flex;
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                    .material {
                        text-align: center;
                        width: 25%;
                        position: relative;
                        span {
                            width: 20%;
                            position: absolute;
                            bottom: 70%;
                            left: 18px;
                            transform: translate(0%, -80%);
                        }
                    }
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 0.5px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 180px;
                            margin: 0 auto;
                            border: solid 0.5px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-63%);
                        }
                    }
                }
                .text {
                    p {
                        line-height: 40px;
                    }
                }
                .image {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    #tea {
        .container {
            margin-top: 5%;
            .row {
                max-width: 1000px;
                margin: 0 auto;
                padding-bottom: 5%;
                // 茶藝故事
                .image {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                .title_text {
                    p {
                        line-height: 40px;
                    }
                }
                .wrap {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                    .circle_line {
                        position: absolute;
                        .circle {
                            width: 50px;
                            height: 40px;
                            border: solid 0.5px black;
                            border-radius: 50%;
                            position: relative;
                            .line {
                                height: 200px;
                                margin: 0 auto;
                                border: solid 0.5px gray;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateY(-43%);
                            }
                        }
                        .story {
                            text-align: center;
                            width: 25%;
                            position: relative;
                            span {
                                width: 100%;
                                position: absolute;
                                transform: translate(0, 35%);
                            }
                        }
                    }
                }

                // .circle_line_2 {
                //     position: absolute;
                //     right: 2%;
                //     bottom: 40%;

                //     .circle {
                //         width: 30px;
                //         height: 30px;
                //         border: solid 1px black;
                //         border-radius: 50%;
                //         position: relative;
                //         .line {
                //             width: 1px;
                //             height: 150px;
                //             margin: 0 auto;
                //             border: solid 1px gray;
                //             position: absolute;
                //             top: 10%;
                //             left: 50%;
                //             transform: translateY(-53%);
                //         }
                //     }
                // }

                // 品牌理念
                .circle_line_brand {
                    position: absolute;
                    right: 10%;
                    top: 1%;

                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 0.5px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 260px;
                            margin: 0 auto;
                            border: solid 0.5px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-43%);
                        }
                    }
                    .brand {
                        text-align: center;
                        width: 25%;
                        position: relative;
                        span {
                            width: 100%;
                            position: absolute;
                            right: 10px;
                            transform: translate(0, 10%);
                        }
                    }
                }

                .circle_line_3 {
                    position: absolute;
                    bottom: 120px;
                    right: 50px;

                    .circle {
                        width: 30px;
                        height: 30px;
                        border: solid 0.5px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            width: 1px;
                            height: 100px;
                            margin: 0 auto;
                            border: solid 0.5px gray;
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            transform: translateY(-53%);
                        }
                    }
                }

                // 商品特色
                .circle_line {
                    display: flex;
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                    .feature {
                        text-align: center;
                        width: 15%;
                        position: relative;
                        span {
                            width: 100%;
                            position: absolute;
                            bottom: 70%;
                            left: 0;
                            transform: translate(0%, -80%);
                        }
                    }
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 0.5px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 180px;
                            margin: 0 auto;
                            border: solid 0.5px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-63%);
                        }
                    }
                }

                //品牌堅持
                .circle_line_a {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                    .circle {
                        width: 30px;
                        height: 30px;
                        border: solid 0.5px black;
                        border-radius: 50%;
                        position: relative;

                        .line {
                            width: 1px;
                            height: 120px;
                            margin: 0 auto;
                            border: solid 0.5px gray;
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            transform: translateY(-53%);
                        }
                    }

                    .adhere {
                        span {
                            width: 10%;
                            position: absolute;
                            bottom: 50%;
                            left: 0;
                            transform: translate(0%, -80%);
                        }
                    }
                }

                .images_adhere {
                    img {
                        width: 100%;
                    }
                    // .photo {
                    //     padding: 0;
                    //     width: 105px;
                    //     height: 105px;
                    //     background-position: center;
                    //     background-size: cover;
                    // }
                }
            }
        }
    }

    .parallax {
        width: 100%;
        height: 70vh;
        background-image: url(./img/0714.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        // @media screen and (max-width: 960px) {
        //     height: 90vh;
        // }
        // @media screen and (max-width: 720px) {
        //     height: 70vh;
        // }
        // @media screen and (max-width: 540px) {
        //     height: 50vh;
        // }
        // @media screen and (max-width: 320px) {
        //     height: 40vh;
        // }
    }

    #new {
        .container {
            max-width: 900px;
            padding: 70px;
            .row {
                line-height: 50px;
                border-bottom: 1px black solid;
                box-sizing: border-box;
                padding: 0 45px 0;

                .date {
                    padding: 0;

                    p {
                        margin: 0;
                    }
                }

                .message {
                    padding: 0;
                    p {
                        margin: 0;
                    }
                }

                .news_message {
                    &::before {
                        content: "NEWS";
                        position: absolute;
                        bottom: 30%;
                        left: -90px;
                        padding: 5px;
                        color: black;
                        font-weight: bold;
                        animation-name: scale_news;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        transition: all 1s;
                    }

                    @keyframes scale_news {
                        0% {
                            font-size: 20px;
                        }

                        50% {
                            font-size: 22px;
                        }

                        100% {
                            font-size: 24px;
                        }
                    }
                }

                .small_text {
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    #google_map {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 70px;
        iframe {
            width: 100%;
            height: 70vh;
        }
    }

    footer {
        background-color: rgba(0, 0, 0, 0.5);
        p {
            width: 100%;
            line-height: 35px;
            color: white;
            margin: 0;
        }
    }
}
