@charset "UTF-8";
html,
body {
  background-color: white;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", Helvetica, Arial, "微軟正黑體";
}

#container {
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #nav {
  width: 250px;
  background-color: black;
}

@media screen and (max-width: 1100px) {
  #container #nav {
    display: none;
  }
}

#container #nav .navfixed {
  width: 250px;
  margin: 0 auto;
  position: fixed;
}

#container #nav .navfixed .navbar {
  width: 100%;
}

#container #nav .navfixed .navbar .text {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: white;
}

#container #nav .navfixed .navbar .text h1 {
  letter-spacing: 4px;
}

#container #nav .navfixed .navbar .text .emailtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2.5px;
}

#container #nav .navfixed .navbar .text .emailtext i {
  font-size: 8px;
  padding: 0 4px;
}

#container #nav .navfixed .navbar .photo {
  width: 200px;
  margin: 0 auto;
}

#container #nav .navfixed .navbar .photo img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

#container #nav .navfixed .navbar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #nav .navfixed .navbar .row .box {
  width: 40%;
  height: 300px;
}

#container #nav .navfixed .navbar .row ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  color: white;
}

#container #nav .navfixed .navbar .row ul li {
  width: 200px;
}

#container #nav .navfixed .navbar .row ul li:hover {
  background-color: #ccc;
}

#container #nav .navfixed .navbar .row ul li:active {
  color: black;
}

#container #nav .navfixed .navbar .row ul li i {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

#container #nav .navfixed .navbar .row ul li a {
  color: white;
  padding: 0 10px;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 16px;
}

#container .mobile_nav {
  height: 100vh;
  background-color: #e9e5e5;
  display: none;
  position: fixed;
  z-index: 100;
}

#container .mobile_nav .close_nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

#container .mobile_nav .close_nav .close {
  font-size: 40px;
}

#container .mobile_nav .navfixed {
  width: 300px;
}

#container .mobile_nav .navfixed .mobile_navbar {
  width: 100%;
}

#container .mobile_nav .navfixed .mobile_navbar .text {
  width: 100%;
  margin: 50px 0;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

#container .mobile_nav .navfixed .mobile_navbar .text h1,
#container .mobile_nav .navfixed .mobile_navbar .text p {
  margin: 30px 0;
}

#container .mobile_nav .navfixed .mobile_navbar .photo {
  width: 200px;
  margin: 0 auto;
}

#container .mobile_nav .navfixed .mobile_navbar .photo img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

#container .mobile_nav .navfixed .mobile_navbar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .mobile_nav .navfixed .mobile_navbar .row .box {
  width: 30%;
  height: 300px;
}

#container .mobile_nav .navfixed .mobile_navbar .row ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}

#container .mobile_nav .navfixed .mobile_navbar .row ul li {
  width: 200px;
}

#container .mobile_nav .navfixed .mobile_navbar .row ul li:hover {
  background-color: #ccc;
}

#container .mobile_nav .navfixed .mobile_navbar .row ul li i {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

#container .mobile_nav .navfixed .mobile_navbar .row ul li a {
  color: black;
  padding: 0 10px;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  #container .mobile_nav.active {
    display: block;
  }
}

#container #main {
  width: calc(100% - 350px);
  background-color: white;
  margin: 0 20px;
  padding: 0 15px;
}

@media screen and (max-width: 1100px) {
  #container #main {
    width: 100%;
  }
}

#container #main .collapse {
  width: 35px;
  height: 50px;
  position: relative;
  display: none;
}

@media screen and (max-width: 1100px) {
  #container #main .collapse {
    display: block;
  }
}

#container #main .collapse .line {
  width: 100%;
  height: 3px;
  border: solid 1px black;
  background-color: black;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#container #main .collapse .line1 {
  top: 25%;
}

#container #main .collapse .line3 {
  top: 75%;
}

#container #main .collapse:hover .line1 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: transform, top;
  transition-property: transform, top, -webkit-transform;
  -webkit-transition-duration: 0.6s, 0.4s;
          transition-duration: 0.6s, 0.4s;
}

#container #main .collapse:hover .line3 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: transform, top;
  transition-property: transform, top, -webkit-transform;
  -webkit-transition-duration: 0.6s, 0.4s;
          transition-duration: 0.6s, 0.4s;
}

#container #main .collapse:hover .line2 {
  opacity: 0;
}

#container #main .about .container {
  margin: 0 auto;
  max-width: 1400px;
}

#container #main .about .container .text {
  padding: 20px 0;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 2px;
}

#container #main .about .container .text .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #main .about .container .text .flex i {
  padding: 0 10px;
}

#container #main .about .container .text .flex h2 {
  padding: 20px 0;
}

#container #main .about .container .text .line {
  background-color: black;
  height: 2px;
  -webkit-animation-name: line_animation;
          animation-name: line_animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes line_animation {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@keyframes line_animation {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

#container #main .about .container .text p {
  padding-top: 50px;
  font-size: 18px;
}

#container #main .about .container .about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container #main .about .container .about_content .mockup {
  width: 70%;
}

#container #main .about .container .about_content .mockup img {
  display: block;
  width: 100%;
}

#container #main .container {
  max-width: 1400px;
  margin: 0 auto;
}

#container #main .container .Portfolio .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #main .container .Portfolio .flex i {
  padding: 0 10px;
}

#container #main .container .Portfolio .flex h2 {
  text-align: justify;
  padding: 20px 0;
}

#container #main .container .Portfolio .line {
  background-color: black;
  height: 2px;
  -webkit-animation-name: line_animation;
          animation-name: line_animation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

#container #main .container .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0;
}

@media screen and (max-width: 1000px) {
  #container #main .container .wrap {
    max-width: 100%;
    display: inline-block;
  }
}

#container #main .container .wrap .col {
  margin-bottom: 50px;
  width: 28%;
}

@media screen and (max-width: 1000px) {
  #container #main .container .wrap .col {
    width: 80%;
    margin: 50px auto;
  }
}

#container #main .container .wrap .col .image img {
  width: 100%;
  display: block;
}

#container #main .container .wrap .col .textcontent {
  padding: 30px 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #container #main .container .wrap .col .textcontent {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  #container #main .container .wrap .col .textcontent {
    font-size: 14px;
  }
}

#container #main .container .wrap .col .textcontent h3 {
  letter-spacing: 3px;
  padding: 10px 0;
}

#container #main .container .wrap .col .textcontent ul {
  margin: 0 auto;
  width: 100%;
  text-align: justify;
}

#container #main .container .wrap .col .textcontent ul li {
  width: 100%;
  letter-spacing: 3px;
  line-height: 45px;
}

#container #main .container .wrap .col .textcontent .github {
  padding-top: 20px;
  letter-spacing: 3px;
}

#container #main .container .wrap .col .textcontent .github a {
  color: blue;
}

#container #main .container .wrap .col .textcontent .github a:hover {
  background-color: #3f3c3c;
  color: white;
}

#container #main .experience {
  line-height: 50px;
  letter-spacing: 3px;
}

@media screen and (max-width: 900px) {
  #container #main .experience {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  #container #main .experience {
    font-size: 14px;
  }
}

#container #main .experience .text_space .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #main .experience .text_space .flex i {
  padding: 0 10px;
}

#container #main .experience .text_space .flex h2 {
  padding: 20px 0;
}

#container #main .experience .text_space .line {
  background-color: black;
  height: 2px;
  -webkit-animation-name: line_animation;
          animation-name: line_animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#container #main .experience .text_space .text {
  padding: 50px 0;
}

#container #main .experience .text_space .text h3 {
  margin-bottom: 20px;
}

#container #main .experience .text_space .text a {
  color: #b81e7d;
  font-weight: bold;
}

#container #main .experience .text_space .wrap_experience .container {
  padding-bottom: 50px;
}

#container #main .experience .text_space .wrap_experience .container h3 {
  margin-bottom: 20px;
}

#container #main .experience .Skills .container_a {
  max-width: 1400px;
  margin: 30px auto;
}

#container #main .experience .Skills .container_a .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #main .experience .Skills .container_a .flex i {
  padding: 0 10px;
}

#container #main .experience .Skills .container_a .flex h2 {
  padding: 20px 0;
}

#container #main .experience .Skills .container_a .line {
  background-color: black;
  height: 2px;
  -webkit-animation-name: line_animation;
          animation-name: line_animation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

#container #main .experience .Skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin-bottom: 50px;
}

#container #main .experience .Skills .container .col {
  width: 50%;
}
/*# sourceMappingURL=personal.css.map */