body {
  font-family: "微軟正黑體";
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  padding-top: 118px;
}

nav {
  background-color: black;
  opacity: 0.8;
  .navbar-brand {
    margin-left: 6%;

    h1 {
      font-family: "Dancing Script";
      color: white;
      font-size: 70px;
      font-weight: 900;
      @media screen and (max-width: 768px) {
        font-size: 40px;
        color: white;
      }
    }
  }

  a {
    display: none;

    @media screen and (max-width: 768px) {
      color: white;
      display: block;
      margin-left: auto;
      margin-right: 15px;
    }
  }

  #navbarSupportedContent {
    ul {
      margin-right: 8%;
      li {
        font-size: 25px;
        padding: 0 20px;
        list-style: none;
        display: inline;
        color: white;

        @media (max-width: 1230px) {
          font-size: 20px;
          padding: 0 10px;
        }
      }
    }
  }
  #navbarSupportedContent {
    ul {
      li {
        a {
          letter-spacing: 2px;
          color: white;
        }
        .hvr-underline-from-left:before {
          background: #999999;
        }
      }
    }
  }
}

#swiper_banner {
  padding: 60px 0;
  @media (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 336px) {
    margin: 20px -2px;
  }
  .main {
    .title_text {
      // 包棟房型

      h2 {
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        font-weight: bold;
        letter-spacing: 6px;
        // padding: 25px 0;
        font-size: 35px;
        letter-spacing: 6px;
      }
    }
    .block {
      .container {
        max-width: 100%;
        .tab_btns {
          .hvr-underline-from-center:before {
            background: gray;
          }
          h5 {
            font-size: 21px;
            letter-spacing: 3px;
            color: #999999;

            @media (max-width: 375px) {
              font-size: 18px;
            }
          }
        }
        .tab_btns {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .tab_btn {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 15px;
            padding: 5px 5px;
            text-align: center;
            color: rgb(2, 51, 73);
          }
        }
      }
    }
    .tab_contents {
      .tab_content.active {
        display: block;
        width: 100%;
        max-height: 60vh;
        .swiper-container {
          width: 100%;
          height: 50vh;
        }
      }
    }

    .tab_content {
      display: none;
      margin: 0 auto;
      background-color: white;
      padding: 20px 0;
    }
  }
}

#section_A {
  .container {
    .row {
      .item {
        .houses {
          h5 {
            font-size: 21px;
            margin: 30px 0;
            font-weight: bold;
            letter-spacing: 3px;
          }
          p {
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 3px;
          }
        }
        .price {
          h5 {
            font-size: 21px;
            margin: 30px 0;
            font-weight: bold;
            letter-spacing: 3px;
          }

          p {
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 3px;
          }
        }
      }
    }
  }
}

#section_B {
  .container {
    .note {
      .big_title {
        h5 {
          text-align: left;
          margin: 30px 0;
          font-size: 21px;
          letter-spacing: 3px;
          font-weight: bold;
          @media (max-width: 768px) {
            text-align: left;
          }
          @media (max-width: 336px) {
            text-align: left;
          }
        }
      }
    }
    .text_content {
      margin-bottom: 30px;

      p {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 3px;
      }
    }
  }
}

footer {
  background-color: black;
  p {
    font-size: 16px;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 16px 0;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
  @media screen and (max-width: 400px) {
    font-size: 10px;
  }
}

/* 鼠標 */
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap");

/* mirar si es valido para IE */
body {
  cursor: none;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.icon {
  animation: jelly 0.5s infinite;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.cursor-inner {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.cursor-inner--dot {
  width: 8px;
  height: 8px;
  background-color: #b4a05b;
}

.cursor-inner--circle {
  width: 20px;
  height: 20px;
  border: 1px solid #b4a05b;
}

/* .cursor-inner--circle {
	width: 8px;
	height: 8px;
    background-color: rgba(180, 160, 91,0.4);
    mix-blend-mode: difference;
} */

@media screen and (max-width: 53em) {
  .cursor {
    visibility: hidden;
  }
}

a {
  cursor: none;
}
