@charset "UTF-8";
body {
  font-family: "微軟正黑體";
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  padding-top: 118px;
}

nav {
  background-color: black;
  opacity: 0.7;
}

nav .navbar-brand {
  margin-left: 6%;
}

nav .navbar-brand h1 {
  font-family: "Dancing Script";
  color: white;
  font-size: 70px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  nav .navbar-brand h1 {
    font-size: 40px;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  nav .fa-phone-alt {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
}

nav #navbarSupportedContent ul {
  margin-right: 8%;
}

nav #navbarSupportedContent ul li {
  font-size: 25px;
  padding: 0 20px;
  list-style: none;
  display: inline;
  color: white;
}

@media (max-width: 1230px) {
  nav #navbarSupportedContent ul li {
    font-size: 20px;
    padding: 0 10px;
  }
}

nav #navbarSupportedContent ul li a {
  color: white;
}

#swiper_banner {
  padding: 60px 0;
}

@media (max-width: 768px) {
  #swiper_banner {
    padding: 0;
  }
}

@media (max-width: 336px) {
  #swiper_banner {
    margin: 20px -2px;
  }
}

#swiper_banner .main .title_text h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 6px;
}

#swiper_banner .main .block .container {
  max-width: 100%;
}

@media (max-width: 336px) {
  #swiper_banner .main .block .container .row h5 {
    font-size: 20px;
  }
}

#swiper_banner .main .block .container .tab_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#swiper_banner .main .block .container .tab_btns .tab_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  padding: 5px 5px;
  text-align: center;
  color: #023349;
}

#swiper_banner .main .tab_contents .tab_content.active {
  display: block;
  width: 100%;
  max-height: 60vh;
}

#swiper_banner .main .tab_contents .tab_content.active .swiper-container {
  width: 100%;
  height: 50vh;
}

#swiper_banner .main .tab_content {
  display: none;
  margin: 0 auto;
  background-color: white;
  padding: 20px 0;
}

#section_A .container .row .item .houses h5 {
  margin: 30px 0;
}

#section_A .container .row .item .houses p {
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1px;
}

#section_A .container .row .item .price h5 {
  margin: 30px 0;
}

#section_A .container .row .item .price p {
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1px;
}

#section_B .container .note .big_title h5 {
  text-align: left;
  margin: 30px 0;
}

@media (max-width: 768px) {
  #section_B .container .note .big_title h5 {
    text-align: left;
  }
}

@media (max-width: 336px) {
  #section_B .container .note .big_title h5 {
    text-align: left;
  }
}

#section_B .container .text_content {
  margin-bottom: 30px;
}

#section_B .container .text_content p {
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1px;
}

footer {
  background-color: black;
}

footer p {
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  footer {
    font-size: 10px;
  }
}
/*# sourceMappingURL=swiper_scss.css.map */