@charset "UTF-8";
html,
body {
  background-color: #76767a;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "微軟正黑體";
  letter-spacing: 1px;
}

#container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #nav {
  width: 400px;
  background-color: #e9e5e5;
}

@media screen and (max-width: 1000px) {
  #container #nav {
    display: none;
  }
}

#container #nav .navfixed {
  width: 100%;
  width: 400px;
  position: fixed;
}

#container #nav .navfixed .navbar {
  width: 100%;
  margin: 20px 0;
}

#container #nav .navfixed .navbar .text {
  width: 100%;
}

#container #nav .navfixed .navbar .text h1,
#container #nav .navfixed .navbar .text p {
  line-height: 35px;
  text-align: center;
  margin: 10px 0;
}

#container #nav .navfixed .navbar .photo {
  width: 180px;
  margin: 0 auto;
  border-radius: 15px;
}

#container #nav .navfixed .navbar .photo img {
  width: 100%;
  display: block;
}

#container #nav .navfixed .navbar ul {
  width: 200px;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
}

#container #nav .navfixed .navbar ul a {
  color: black;
}

#container .mobile_nav {
  height: 100vh;
  width: 400px;
  background-color: #e9e5e5;
  display: none;
  position: fixed;
  z-index: 100;
}

#container .mobile_nav .navfixed {
  width: 100%;
}

#container .mobile_nav .navfixed .mobile_navbar {
  width: 100%;
  margin: 20px 0;
}

#container .mobile_nav .navfixed .mobile_navbar .text {
  width: 100%;
}

#container .mobile_nav .navfixed .mobile_navbar .text h1,
#container .mobile_nav .navfixed .mobile_navbar .text p {
  line-height: 35px;
  text-align: center;
  margin: 10px 0;
}

#container .mobile_nav .navfixed .mobile_navbar .photo {
  width: 180px;
  margin: 0 auto;
  border-radius: 15px;
}

#container .mobile_nav .navfixed .mobile_navbar .photo img {
  width: 100%;
  display: block;
}

#container .mobile_nav .navfixed .mobile_navbar ul {
  width: 200px;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
}

#container .mobile_nav .navfixed .mobile_navbar ul a {
  color: black;
}

@media screen and (max-width: 1000px) {
  #container .mobile_nav.active {
    display: block;
  }
}

#container #main {
  width: calc(100% - 400px);
  padding: 0 10px;
  background-color: #f1f1f1;
}

@media screen and (max-width: 1000px) {
  #container #main {
    width: 100%;
  }
}

#container #main .collapse {
  width: 35px;
  height: 50px;
  position: relative;
  display: none;
}

@media screen and (max-width: 1000px) {
  #container #main .collapse {
    display: block;
  }
}

#container #main .collapse .line {
  width: 100%;
  height: 3px;
  border: solid 1px black;
  background-color: black;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#container #main .collapse .line1 {
  top: 25%;
}

#container #main .collapse .line3 {
  top: 75%;
}

#container #main .collapse:hover .line1 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: transform, top;
  transition-property: transform, top, -webkit-transform;
  -webkit-transition-duration: 0.5s, 0.3s;
          transition-duration: 0.5s, 0.3s;
}

#container #main .collapse:hover .line3 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: transform, top;
  transition-property: transform, top, -webkit-transform;
  -webkit-transition-duration: 0.5s, 0.3s;
          transition-duration: 0.5s, 0.3s;
}

#container #main .collapse:hover .line2 {
  opacity: 0;
}

#container #main .about {
  margin: 30px auto;
}

#container #main .about h2 {
  text-align: justify;
  padding: 10px 0;
}

#container #main .about p {
  padding: 20px 0;
}

#container #main .line {
  border-bottom: 1px gray solid;
}

#container #main .Portfolio h2 {
  text-align: justify;
  padding: 10px 0;
}

#container #main .Portfolio .line {
  border-bottom: 1px gray solid;
}

#container #main .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0;
}

@media screen and (max-width: 1000px) {
  #container #main .wrap {
    max-width: 100%;
    display: inline-block;
  }
}

#container #main .wrap .col {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  #container #main .wrap .col {
    width: 80%;
    margin: 0 auto;
  }
}

#container #main .wrap .col .image img {
  width: 100%;
  display: block;
}

#container #main .wrap .col .textcontent {
  width: 100%;
}

#container #main .wrap .col .textcontent h2,
#container #main .wrap .col .textcontent p {
  line-height: 30px;
  padding: 10px 0;
}

#container .experience h2 {
  text-align: justify;
}

#container .experience .line {
  border-bottom: 1px gray solid;
}

#container .experience .container {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
  line-height: 30px;
}

#container .Skills .line {
  border-bottom: 1px gray solid;
}

#container .Skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .Skills .container .col {
  width: 50%;
}
/*# sourceMappingURL=personal.css.map */