html,
body {
    background-color: rgb(241, 241, 241);
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}
#container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;

    // web nav
    #nav {
        width: 400px;
        background-color: white;
        @media screen and (max-width: 1000px) {
            display: none;
        }

        .navfixed {
            width: 100%;
            width: 400px;
            position: fixed;

            .navbar {
                width: 100%;

                .text {
                    width: 100%;
                    margin: 50px 0;
                    text-align: center;
                    line-height: 50px;
                    font-size: 20px;
                    h1,
                    p {
                        letter-spacing: 3px;
                    }
                }

                .photo {
                    width: 250px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        display: block;
                        border-radius: 50%;
                    }
                }
                .row {
                    display: flex;
                    .box {
                        width: 40%;
                        height: 300px;
                    }
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 50px auto;
                        li {
                            width: 200px;
                            &:hover {
                                background-color: #ccc;
                            }
                            i {
                                width: 30px;
                                text-align: center;
                                font-size: 20px;
                            }
                            a {
                                color: black;
                                padding: 0 10px;
                                line-height: 50px;
                                letter-spacing: 2px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    // 手機選單
    .mobile_nav {
        height: 100vh;
        background-color: rgb(233, 229, 229);
        display: none;
        position: fixed;
        z-index: 100;

        .close_nav {
            position: absolute;
            top: 10px;
            right: 10px;
            .close {
                font-size: 50px;
            }
        }
        .navfixed {
            width: 100%;
            width: 400px;
            .mobile_navbar {
                width: 100%;

                .text {
                    width: 100%;
                    margin: 50px 0;
                    text-align: center;
                    line-height: 50px;
                    font-size: 20px;
                    h1,
                    p {
                        margin: 30px 0;
                    }
                }
                .photo {
                    width: 250px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        display: block;
                        border-radius: 50%;
                    }
                }
                .row {
                    display: flex;
                    .box {
                        width: 40%;
                        height: 300px;
                    }
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 50px auto;
                        li {
                            width: 200px;
                            &:hover {
                                background-color: #ccc;
                            }
                            i {
                                width: 30px;
                                text-align: center;
                                font-size: 20px;
                            }
                            a {
                                color: black;
                                padding: 0 10px;
                                line-height: 50px;
                                letter-spacing: 2px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    // mobile nav
    .mobile_nav.active {
        @media screen and(max-width:1000px) {
            display: block;
        }
    }

    #main {
        width: calc(100% - 400px);
        background-color: white;
        margin: 0 15px;
        padding: 0 5px;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        // 漢堡條
        .collapse {
            width: 35px;
            height: 50px;
            position: relative;
            display: none;
            @media screen and (max-width: 1000px) {
                display: block;
            }

            .line {
                width: 100%;
                height: 3px;
                border: solid 1px black;
                background-color: black;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transition-duration: 0.3s;
                transform: translate(-50%, -50%);
            }

            .line1 {
                top: 25%;
            }

            .line3 {
                top: 75%;
            }

            &:hover .line1 {
                transform: translate(-50%, -50%) rotate(45deg);
                top: 50%;
                transition-property: transform, top;
                transition-duration: 0.5s, 0.3s;
            }

            &:hover .line3 {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
                transition-property: transform, top;
                transition-duration: 0.5s, 0.3s;
            }

            &:hover .line2 {
                opacity: 0;
            }
        }

        // 關於
        .about {
            .container {
                margin: 0 auto;
                max-width: 1100px;
                .text {
                    padding: 20px 0;
                    line-height: 40px;
                    text-align: justify;
                    letter-spacing: 2px;
                    h2 {
                        padding: 20px 0;
                    }
                    .line {
                        border-bottom: 2px gray solid;
                    }

                    p {
                        padding-top: 35px;
                    }
                }
            }
        }

        // 作品集標題
        .container {
            max-width: 1100px;
            margin: 0 auto;
            .Portfolio {
                h2 {
                    text-align: justify;
                    padding: 20px 0;
                }
                .line {
                    border-bottom: 2px gray solid;
                }
            }
            // 作品集
            .wrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                // margin: 30px auto;
                padding: 45px 0;
                @media screen and (max-width: 1000px) {
                    max-width: 100%;
                    display: inline-block;
                }
                .colhid {
                    @media screen and (max-width: 1000px) {
                        display: none;
                    }
                }
                // 固定寬度
                .col {
                    width: 32%;
                    @media screen and (max-width: 1000px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                    .image {
                        img {
                            width: 100%;
                            display: block;
                        }
                    }

                    .textcontent {
                        padding: 30px 0;
                        width: 100%;
                        h3 {
                            letter-spacing: 3px;
                            padding: 10px 0;
                        }
                        ul {
                            margin: 0 auto;
                            width: 100%;
                            text-align: justify;
                            li {
                                width: 100%;
                                letter-spacing: 3px;
                                line-height: 45px;
                            }
                        }
                        .github {
                            padding-top: 20px;
                            letter-spacing: 3px;
                            a {
                                color: blue;
                                &:hover {
                                    background-color: rgb(63, 60, 60);
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        //經歷
        .experience {
            line-height: 40px;
            letter-spacing: 3px;

            .text_space {
                h2 {
                    padding: 20px 0;
                }
                .line {
                    border-bottom: 2px gray solid;
                }
                .text {
                    padding: 50px 0;
                }
                .wrap_experience {
                    .container {
                        padding-bottom: 50px;
                    }
                }
            }
            // 專長Skills
            .Skills {
                .container_a {
                    max-width: 1100px;
                    margin: 30px auto;
                    h2 {
                        padding: 20px 0;
                    }
                    .line {
                        border-bottom: 2px gray solid;
                    }
                }

                .container {
                    display: flex;
                    justify-content: center;

                    .col {
                        width: 50%;
                    }
                }
            }
        }
      
    }
}
