// 2.匯入
@import '_style-guild.scss';

$font_red:red;
$background_color:blue;
// 3.巢狀結構
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    background-color: $bg_black;
    color: $color_white;
}

.card {
    width:50%;
    padding: 15px;
    color: $color_black;

    @include linear-gradient(rgb(155, 147, 147),rgb(236, 215, 171));

    &:hover {
        color: red;
    }

    @media (max-width:991px) {
        width:100%;
    }

    .picture {
        width:100%;

        img {
            width:100%;
        }
    }

    .content {
        .title {
            text-align: center;
            font-size:$font-title;
            margin:15px 0;
        }

        .text {
            @include font-setting(18px,white,bold);
            @include shadow();
        }

        
    }
}
.box {margin: 30px;
    width: 100px;
    height: 100px;
    color:$font_red ;
    background-color: $background_color ;
    
}



