@charset "UTF-8";
body {
  margin: 0;
}

#section2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#section2 .svg1 {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
}

#section2 .section2_picture {
  width: 70%;
  z-index: 1;
}

#section2 .section2_picture .img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-clip-path: circle(85% at 24% 50%);
          clip-path: circle(85% at 24% 50%);
}

#section2 .section2_picture .img2 {
  display: none;
}

#section2 .word_box2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  font-family: "微軟正黑體";
}

#section2 .word_box2 .word2 {
  color: gray;
  z-index: 1;
}

#section2 .word_box2 .word2 h3 {
  text-align: center;
}

#section2 .word_box2 .word2 p {
  text-align: center;
}

#section2 .word_box2 .word2 hr {
  border: solid 2px gray;
  border-radius: 5%;
}

#section3 {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#section3 .word_box3 {
  width: auto;
  margin-left: 30%;
  padding-top: 5%;
  color: white;
  font-size: 40px;
  font-family: "微軟正黑體";
}

#section3 .word_box3 .sec {
  padding-left: 250px;
}

#section9 {
  width: 100%;
  background-image: url(../img/footer.jpg);
  background-size: cover;
}

#section9 .word_box9_circle {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
  opacity: 50%;
  color: white;
}

#section9 .word_box9_circle .title9 {
  width: auto;
  margin-left: 55px;
  padding-top: 24px;
}

#section9 .word_box9_circle .words9 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1145px) {
  #section2 {
    height: 60vh;
  }
  #section2 .section2_picture .img1 {
    width: 100%;
    height: 100%;
  }
  #section2 .word_box2 .word2 {
    font-size: 15px;
  }
  #section3 .word_box3 {
    font-size: 30px;
  }
  #section3 .word_box3 .sec {
    padding-left: 200px;
  }
}

@media screen and (max-width: 1145px) and (max-width: 985px) {
  #section2 {
    height: 50vh;
  }
  #section3 {
    width: 100%;
    height: 40vh;
  }
}

@media screen and (max-width: 1145px) and (max-width: 830px) {
  #section2 {
    height: 45vh;
  }
}

@media screen and (max-width: 1145px) and (max-width: 768px) {
  #section2 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section2 .svg1 {
    opacity: 50%;
  }
  #section2 .section2_picture {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section2 .section2_picture .img1 {
    -webkit-clip-path: none;
            clip-path: none;
    display: none;
  }
  #section2 .section2_picture .img2 {
    display: block;
    width: 100%;
  }
  #section2 .word_box2 {
    width: 50%;
    line-height: 15px;
  }
  #section2 .word_box2 .word2 {
    font-size: 15px;
  }
  #section3 .word_box3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #section3 .word_box3 .sec {
    padding-left: 10px;
  }
  #section9 {
    background-image: none;
  }
  #section9 .word_box9_circle {
    height: auto;
    background-color: white;
    color: black;
    opacity: 100%;
    font-size: 15px;
  }
  #section9 .word_box9_circle .title9 {
    font-size: 15px;
    padding-top: 20px;
  }
  footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 1145px) and (max-width: 400px) {
  #section2 .word_box2 .word2 {
    font-size: 10px;
  }
  #section9 .word_box9_circle {
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }
}
/*# sourceMappingURL=theOne.css.map */