html,
body {
    margin: 0;
    scroll-behavior: smooth; //平滑捲動
    font-family: arial, verdana;
}

nav {
    opacity: 0;

    img {
        width: 120px;
    }

    span {
        color: white;
    }
}

// js才有
.scrolled {
    opacity: 0.9;
    background-color: black;
}

main {
    width: 100%;
    
    background-image: url(./img/01245.jpg);
    
    #Banner {
        position: relative;
        .banner {
            width: 100%;
            position: absolute;
            //宣告動畫
            animation-name: banner_img; //跟標簽(banner)說要執行的動畫名字
            animation-duration: 4s; //設定動畫跑多久,跟banner標籤說要跑多久,我設定5秒的時間
            animation-iteration-count: 1;
            //跟標籤(banner)說這個動畫執行幾次,1次就是執行1次不會重復

            img {
                width: 100%;
                display: block;
            }

            @keyframes banner_img {
                0% {
                    transform: translateY(10%);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        .logo {
            width: 18%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: logo;
            animation-duration: 7s;
            animation-iteration-count: 1;
            img {
                width: 100%;
            }

            @keyframes logo {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .text {
            width: 100%;
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: texts;
            animation-duration: 6s;
            animation-iteration-count: 1;
            @media screen and(max-width:1200px) {
                display: none;
            }
            p {
                margin: 0 auto;
                width: 500px;
                text-align: center;
                font-size: 20px;
                color: white;
            }
            @keyframes texts {
                0% {
                    transform: translate(-50%, 90%);
                    opacity: 0;
                }

                100% {
                    transform: translate(-50%, 0%);
                    opacity: 1;
                }
            }
        }

        .banner1 {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                display: block;
                opacity: 0;
            }
        }
    }
    //材料介紹
    #text_photo {
        .container {
            width: 100%;
            margin-top: 15%;
            .row {
                max-width: 1000px;
                margin: 0 auto;

                .circle_line {
                    display: flex;
                    @media screen and (max-width: 720px) {
                        display: none;
                    }
                    .material {
                        text-align: center;
                        width: 25%;
                        position: relative;
                        span {
                            width: 100%;
                            position: absolute;
                            bottom: 70%;
                            left: 0;
                            transform: translate(0%, -80%);
                        }
                    }
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 1px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 180px;
                            margin: 0 auto;
                            border: solid 1px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-63%);
                        }
                    }
                }
                .text {
                    p {
                        line-height: 40px;
                    }
                }
                .image {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    #tea {
        .container {
            margin-top: 10%;
            .row {
                max-width: 1000px;
                margin: 0 auto;
                padding-bottom: 5%;
                // 茶藝故事
                .image {
                    img {
                        width: 100%;
                        display: block;
                    }
                    .photo {
                        padding: 0;
                        width: 245px;
                        height: 245px;
                        background-position: center;
                        background-size: cover;
                    }
                }

                .title_text {
                    p {
                        line-height: 40px;
                    }
                }
                .wrap {
                    @media screen and (max-width: 720px) {
                        display: none;
                    }
                    .circle_line {
                        position: absolute;

                        // top: 1%;

                        .circle {
                            width: 40px;
                            height: 35px;
                            border: solid 1px black;
                            border-radius: 50%;
                            position: relative;
                            .line {
                                height: 200px;
                                margin: 0 auto;
                                border: solid 1px gray;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateY(-43%);
                            }
                        }
                        .story {
                            text-align: center;
                            width: 25%;
                            position: relative;
                            span {
                                width: 100%;
                                position: absolute;
                                transform: translate(0, 35%);
                            }
                        }
                    }
                }

                // .circle_line_2 {
                //     position: absolute;
                //     right: 2%;
                //     bottom: 40%;

                //     .circle {
                //         width: 30px;
                //         height: 30px;
                //         border: solid 1px black;
                //         border-radius: 50%;
                //         position: relative;
                //         .line {
                //             width: 1px;
                //             height: 150px;
                //             margin: 0 auto;
                //             border: solid 1px gray;
                //             position: absolute;
                //             top: 10%;
                //             left: 50%;
                //             transform: translateY(-53%);
                //         }
                //     }
                // }

                // 品牌概念
                .circle_line_brand {
                    position: absolute;
                    right: 10%;
                    top: 1%;

                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 1px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 260px;
                            margin: 0 auto;
                            border: solid 1px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-43%);
                        }
                    }
                    .brand {
                        text-align: center;
                        width: 25%;
                        position: relative;
                        span {
                            width: 100%;
                            position: absolute;
                            right: 30%;
                            transform: translate(0, 10%);
                        }
                    }
                }

                .circle_line_3 {
                    position: absolute;
                    bottom: 120px;
                    right: 50px;

                    .circle {
                        width: 30px;
                        height: 30px;
                        border: solid 1px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            width: 1px;
                            height: 100px;
                            margin: 0 auto;
                            border: solid 1px gray;
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            transform: translateY(-53%);
                        }
                    }
                }

                .circle_line_a {
                    @media screen and (max-width: 720px) {
                        display: none;
                    }
                    .circle {
                        width: 30px;
                        height: 30px;
                        border: solid 1px black;
                        border-radius: 50%;
                        position: relative;

                        .line {
                            width: 1px;
                            height: 120px;
                            margin: 0 auto;
                            border: solid 1px gray;
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            transform: translateY(-53%);
                        }
                    }
                }

                // 商品特色
                .circle_line {
                    display: flex;
                    @media screen and (max-width: 720px) {
                        display: none;
                    }
                    .feature {
                        text-align: center;
                        width: 15%;
                        position: relative;
                        span {
                            width: 100%;
                            position: absolute;
                            bottom: 70%;
                            left: 0;
                            transform: translate(0%, -80%);
                        }
                    }
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: solid 1px black;
                        border-radius: 50%;
                        position: relative;
                        .line {
                            height: 180px;
                            margin: 0 auto;
                            border: solid 1px gray;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateY(-63%);
                        }
                    }
                }
            }
        }
    }

    #new {
        .container {
            max-width: 900px;
            padding-bottom: 70px;
            .row {
                line-height: 60px;
                border-bottom: 1px black solid;
                box-sizing: border-box;
                padding: 0 45px 0;

                .date {
                    padding: 0;
                    p {
                        margin: 0;
                    }
                }
                .small_text {
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

footer {
    .parallax {
        width: 100%;
        height: 100vh;
        background-image: url(./img/0714.jpg);
        background-position: center;
        background-size: cover;
        background-attachment:fixed;
    }

}
