html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: arial, verdana;
}

nav {
  opacity: 0;
}

nav img {
  width: 120px;
}

nav span {
  color: white;
}

.scrolled {
  opacity: 0.9;
  background-color: black;
}

main {
  width: 100%;
  background-image: url(./img/bgk.jpg);
}

main #Banner {
  position: relative;
}

main #Banner .banner {
  width: 100%;
  position: absolute;
  -webkit-animation-name: banner_img;
          animation-name: banner_img;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

main #Banner .banner img {
  width: 100%;
  display: block;
}

@-webkit-keyframes banner_img {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes banner_img {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

main #Banner .logo {
  width: 12%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

main #Banner .logo img {
  width: 100%;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main #Banner .text {
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: texts;
          animation-name: texts;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media screen and (max-width: 1200px) {
  main #Banner .text {
    display: none;
  }
}

main #Banner .text p {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-size: 24px;
  color: white;
}

@-webkit-keyframes texts {
  0% {
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes texts {
  0% {
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    opacity: 1;
  }
}

main #Banner .banner1 {
  width: 100%;
  height: auto;
}

main #Banner .banner1 img {
  width: 100%;
  display: block;
  opacity: 0;
}

main #text_photo .container {
  width: 100%;
  margin-top: 15%;
}

main #text_photo .container .row {
  max-width: 1000px;
  margin: 0 auto;
}

main #text_photo .container .row .circle_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  main #text_photo .container .row .circle_line {
    display: none;
  }
}

main #text_photo .container .row .circle_line .material {
  text-align: center;
  width: 25%;
  position: relative;
}

main #text_photo .container .row .circle_line .material span {
  width: 100%;
  position: absolute;
  bottom: 70%;
  left: 0;
  -webkit-transform: translate(0%, -80%);
          transform: translate(0%, -80%);
}

main #text_photo .container .row .circle_line .circle {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #text_photo .container .row .circle_line .circle .line {
  height: 180px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-63%);
          transform: translateY(-63%);
}

main #text_photo .container .row .text p {
  line-height: 40px;
}

main #text_photo .container .row .image img {
  width: 100%;
  display: block;
}

main #tea .container {
  margin-top: 10%;
}

main #tea .container .row {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 15%;
}

main #tea .container .row .image img {
  width: 100%;
  display: block;
}

main #tea .container .row .image .photo {
  padding: 0;
  width: 245px;
  height: 245px;
  background-position: center;
  background-size: cover;
}

main #tea .container .row .title_text p {
  line-height: 40px;
}

@media screen and (max-width: 720px) {
  main #tea .container .row .wrap {
    display: none;
  }
}

main #tea .container .row .wrap .circle_line {
  position: absolute;
}

main #tea .container .row .wrap .circle_line .circle {
  width: 40px;
  height: 35px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #tea .container .row .wrap .circle_line .circle .line {
  height: 200px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);
}

main #tea .container .row .wrap .circle_line .story {
  text-align: center;
  width: 25%;
  position: relative;
}

main #tea .container .row .wrap .circle_line .story span {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(0, 35%);
          transform: translate(0, 35%);
}

main #tea .container .row .circle_line_brand {
  position: absolute;
  right: 10%;
  top: 1%;
}

main #tea .container .row .circle_line_brand .circle {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #tea .container .row .circle_line_brand .circle .line {
  height: 260px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);
}

main #tea .container .row .circle_line_brand .brand {
  text-align: center;
  width: 25%;
  position: relative;
}

main #tea .container .row .circle_line_brand .brand span {
  width: 100%;
  position: absolute;
  right: 30%;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

main #tea .container .row .circle_line_3 {
  position: absolute;
  bottom: 120px;
  right: 50px;
}

main #tea .container .row .circle_line_3 .circle {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #tea .container .row .circle_line_3 .circle .line {
  width: 1px;
  height: 100px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
}

@media screen and (max-width: 720px) {
  main #tea .container .row .circle_line_a {
    display: none;
  }
}

main #tea .container .row .circle_line_a .circle {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #tea .container .row .circle_line_a .circle .line {
  width: 1px;
  height: 120px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
}

main #tea .container .row .circle_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  main #tea .container .row .circle_line {
    display: none;
  }
}

main #tea .container .row .circle_line .feature {
  text-align: center;
  width: 15%;
  position: relative;
}

main #tea .container .row .circle_line .feature span {
  width: 100%;
  position: absolute;
  bottom: 70%;
  left: 0;
  -webkit-transform: translate(0%, -80%);
          transform: translate(0%, -80%);
}

main #tea .container .row .circle_line .circle {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
}

main #tea .container .row .circle_line .circle .line {
  height: 180px;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-63%);
          transform: translateY(-63%);
}

main #new .container {
  max-width: 900px;
  padding-bottom: 50px;
}

main #new .container .row {
  line-height: 60px;
  border-bottom: 1px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px 0;
}

main #new .container .row .date {
  padding: 0;
}

main #new .container .row .date p {
  margin: 0;
}

main #new .container .row .small_text p {
  margin: 0;
}
/*# sourceMappingURL=tea.css.map */