html,
body {
    margin: 0;
}

#Banner {
    position: relative;
    .banner {
        width: 100%;
        height: auto;
        position: absolute;
        //宣告動畫
        animation-name: banner_img; //跟標簽(banner)說要執行的動畫名字
        animation-duration: 4s; //設定動畫跑多久,跟banner標籤說要跑多久,我設定5秒的時間
        animation-iteration-count: 1;
        //跟標籤(banner)說這個動畫執行幾次,1次就是執行1次不會重復

        img {
            width: 100%;
            display: block;
        }

        @keyframes banner_img {
            0% {
                transform: translateY(10%);
                opacity: 0;
            }

            100% {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }

    .logo {
        width: 12%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: logo;
        animation-duration: 7s;
        animation-iteration-count: 1;
        img {
            width: 100%;
        }

        @keyframes logo {
            0% {
                width: 100%;
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .text {
        width: 20%;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, 20%);
        animation-name: texts;
        animation-duration: 6s;
        animation-iteration-count: 1;
        p {
            width: 100%;
            color: white;
        }
        @keyframes texts {
            0% {
                transform: translate(-50%, 90%);
                opacity: 0;
            }

            100% {
                transform: translate(-50%, 0%);
                opacity: 1;
            }
        }
    }

    .banner1 {
        width: 100%;
        height: auto;
        opacity: 0;
        img {
            width: 100%;
            display: block;
        }
    }

    #menu {
        position: absolute;
        top: 0;
        right: 20px;
        animation-name: menubar;
        animation-duration: 10s;

        .hamburger {
            height: 38px;
            .line {
                width: 28px;
                height: 3px;
                position: absolute;
                top: 50%;
                left: 50%;
                transition-duration: 0.2s;
                transform: translate(-50%, -50%);
                border-radius: 5px;
                background-color: black;
            }
            &:hover .line_A {
                transform: translate(-50%, -50%) rotate(45deg);
                top: 50%;
                transition-property: transform, top;
                transition-duration: 0.4s, 0.2s;
            }
            &:hover .line_B {
                opacity: 0;
            }

            &:hover .line_C {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
                transition-property: transform, top;
                transition-duration: 0.4s, 0.2s;
            }

            .line_A {
                top: 25%;
            }
            .line_C {
                top: 75%;
                &:hover {
                    transform: translate(-50%, -50%) rotate(-45deg);
                    top: 50%;
                    transition-property: transform, top;
                    transition-duration: 0.4s, 0.2s;
                }
            }
        }

        @keyframes menubar {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    input {
        display: none;
    }
// 隱藏
    ul {
        display: none;
        padding: 0;
        margin: 0;

       
    }
// nav 清單出現
    #burger:checked + ul {
        display: block;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 40px;
        background-color: black;
        li {
            
            padding: 0 30px;
            list-style: none;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

#text_photo {
    .container {
        width: 100%;
        margin-top: 15%;

        .row {
            max-width: 1000px;
            margin: 0 auto;
            .circle_line {
                display: flex;
                .material {
                    text-align: center;
                    width: 25%;
                    position: relative;
                    span {
                        width: 100%;
                        position: absolute;
                        bottom: 70%;
                        left: 0;
                        transform: translate(0%, -80%);
                    }
                }
                .circle {
                    width: 40px;
                    height: 40px;
                    border: solid 1px black;
                    border-radius: 50%;
                    position: relative;
                    .line {
                        height: 180px;
                        margin: 0 auto;
                        border: solid 1px gray;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-63%);
                    }
                }
            }
            .text {
                p {
                    line-height: 40px;
                }
            }
            .image {
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

#tea {
    .container {
        margin-top: 15%;
        .row {
            max-width: 1000px;
            margin: 0 auto;
            .image {
                img {
                    width: 100%;
                    display: block;
                }

                .photo {
                    padding: 0;
                    width: 245px;
                    height: 245px;
                    background-position: center;
                    background-size: cover;
                }
            }

            .title_text {
                p {
                    line-height: 40px;
                }
            }

            .circle_line {
                position: absolute;
                right: 10%;
                top: 1%;

                .circle {
                    width: 40px;
                    height: 40px;
                    border: solid 1px black;
                    border-radius: 50%;
                    position: relative;
                    .line {
                        height: 260px;
                        margin: 0 auto;
                        border: solid 1px gray;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-43%);
                    }
                }
                .story {
                    text-align: center;
                    width: 25%;
                    position: relative;
                    span {
                        width: 100%;
                        position: absolute;
                        right: 30%;
                        transform: translate(0, 10%);
                    }
                }
            }

            .circle_line_2 {
                position: absolute;
                right: 2%;
                bottom: 15%;

                .circle {
                    width: 30px;
                    height: 30px;
                    border: solid 1px black;
                    border-radius: 50%;
                    position: relative;
                    .line {
                        width: 1px;
                        height: 260px;
                        margin: 0 auto;
                        border: solid 1px gray;
                        position: absolute;
                        top: 10%;
                        left: 50%;
                        transform: translateY(-53%);
                    }
                }
            }
        }
    }
}

#new {
    .container {
        max-width: 900px;
        .row {
            line-height: 60px;
            border-bottom: 1px black solid;
            box-sizing: border-box;

            .date {
                padding: 0;
                p {
                    margin: 0;
                }
            }
            .small_text {
                p {
                    margin: 0;
                }
            }
        }
    }
}
