/* table */

#swiper_banner .main {
  width: 800px;
  height: 700px;
  /* border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* background-color: #E3E3E3; */
  /* overflow: hidden; */
}

#swiper_banner .main .block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#swiper_banner .main .block .tab_btns {
  display: flex;
  justify-content: center;
}

#swiper_banner .main .block .tab_btns .tab_btn {
  padding: 20px 20px;
  background-color: rgb(154, 185, 199);
  text-align: center;
  /* font-size: 26px; */
  color: rgb(2, 51, 73);

}


#swiper_banner .main .block .tab_btns .tab_btn:hover {
  background-color: rgb(201, 229, 241);
}


 .tab_content {
  display: none;
  width: 1140px;
  height: 300px;
  max-width: 100%;
  background-color: rgb(121, 189, 221);
  padding: 20px;

  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
}

.tab_content.active {
  display: block;
}

h1 {
  font-family: Arial;
  text-align: center;
  color: rgb(2, 51, 73);

}

p {
  font-size: 21px;
  color: rgb(2, 51, 73);

}







/* swiper */
html, body {
    position: relative;
    height: 100%;
  } 
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 50%;
  } 
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }



