/* swiper */
html, body {
  position: relative;
  height: 100%;
} 
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
} 
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



#swiper_banner .main .title_text h1 {
  text-align: center;
  margin: 0;
  padding: 25px 0;
}
#swiper_banner .main .block .tab_btns {
  display: flex;
  justify-content: center;
}

#swiper_banner .main .block .tab_btns .tab_btn {
  padding: 20px 20px;
  /* background-color: rgb(154, 185, 199); */
  text-align: center;
  /* font-size: 26px; */
  color: rgb(2, 51, 73);

}

#swiper_banner .main .block .tab_btns .tab_btn:hover {
  background-color: rgb(201, 229, 241);
}


/* 隱藏 */
 .tab_content {
  display: none;
  margin:  0 auto;
  width: 100%;
  height:45vh;
  background-color: black;
  padding: 20px 0 ;

}

/* 點擊出現 */
.tab_contents .tab_content.active {
  display: block;
  
}







