@import url("reset.css");
body {
    margin: 0 auto;
    width: 100%;
    font-family: Verdana, sans-serif;
    color: #fefefe;
    /* 背景顏色在snow css */
    /* background: radial-gradient(ellipse at bottom, #120542 0%,#d6c5ff 0%, #98a4ff 100%); */
}

.redtext {
    color: #c22e29;
    font-size: 0.6em;
}

.yellowtext {
    color: #fff82a;
    font-size: 0.6em;
}

/* // ------------------------------- playmusicbtn ------------------------------- */

.playmusicbtn {
    z-index: 9999;
    overflow: hidden;
}

.playmusicbtn a {}

.playmusicbtn a img {
    position: fixed;
    display: block;
    top:5em;
    right: 20px;
    width: 100px;
    height: 100px;
    z-index: 10000;
}

.playmusicbtn a img:hover {
    opacity: 0.8;
}

/* // ------------------------------- 固定漂浮 tabbar ------------------------------- */

.tabbar {}

.tabbar ul {
    color: black;
    border-radius: 30px;
    background-color: #fff;
    height: 250px;
    opacity: 0.6;
    text-align: center;
    box-shadow: 2px 4px 4px black;
    /* display: flex; */
}

.tabbar li:before {
    content: "";
    /* border-bottom: 1px solid black; */
    display: block;
    width: 50px;
    height: 1px;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(99, 99, 99);
}

.tabbar li:nth-last-child(-n+1)::before {
    display: none;
}

.tabbar ul:hover {
    opacity: 1;
    box-shadow: 0px 0px 2px 6px #ffff00;
}

.tabbar ul li {
    padding: 20px 0px;
    position: relative;
}

.tabbar ul li p {
    line-height:1.2;
}

.tabbar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

.tabbar ul li a:hover{
    color: #c22e29;
}
/* // ------------------------------- top ------------------------------- */

#to-top {
    cursor: pointer;
}

.uptop {
    position: fixed;
    /* bottom: 50px; */
    top: 180px;
    right: 20px;
    width: 100px;
    z-index: 9999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.uptop img {
    width: 100%;
    cursor: pointer;
}

/* // ------------------------------- deco -------------------------------- */

.deco {
    margin: 0 auto;
    width: 100%;
}

.deco .snowbg {
    width: 100%;
    display: block;
    position: absolute;
    top: 50px;
    margin: 0 auto;
    z-index: -1;
}
.deco .snowbg2 {
    width: 100%;
    display: block;
    position: absolute;
    top: 1650px;
    margin: 0 auto;
    z-index: -1;
}

/* ================側邊固定漂浮================= */

.fix-game {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 250px;
    right: 2%;
    width: 150px;
}

.fix-game img {
    width: 100%;
}

/* // ------------------------------- nav-------------------------------- */

.main-sel {
    top: 0%;
    width: 100%;
    margin: 0 auto;
    background-color: #c9191d;
    height: 80px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10000;
    /* border: rgb(105, 255, 165) 1px solid; */
    display: flex;
    align-items: center;
}

/* 街口logo */

.main-sel .logo {
    width: 200px;
    display: block;
    padding-left: 50px;
}

/* navbar */

.topMain {
    display: flex;
    margin-left: auto;
}

.topMain ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: hotpink 1px solid; */
}

.topMain .socm {
    padding-left: 30px;
    padding-right: 20px;
}


.topMain ul li img {
    width: 30px;
    /* border: hotpink 1px solid; */
}

.topMain .socm :hover {
    color: yellow;
}

.topMain a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.4em;
}

.topMain a:hover {
    transition: 2s;
    color: #eaff00;
    /* background-color: #C9191D; */
}

/* header */

header {
    text-align: center;
    height: 800px;
    position: relative;
    /* border: #c22e29 2px solid; */
}

header img {
    display: block;
}

/* animation動畫飛豬  */

header .pigreindeer {
    position: absolute;
    margin: 0 auto;
    z-index: 3;
    transform: rotate(15deg);
    animation: pigreindeer 3s cubic-bezier(.15, .41, .6, .36)forwards;
    /* border: #c22e29 2px solid; */
}

@keyframes pigreindeer {
    0% {
        opacity: 1;
        position: absolute;
        width: 800px;
        top: 500px;
        right: 100px;
        margin: 0 auto;
        z-index: 3;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        position: absolute;
        width: 1000px;
        top: 0px;
        right: 2000px;
        z-index: 3;
    }
}

header .pigreindeer2 {
    position: absolute;
    width: 100%;
    top: 700px;
    right: 50px;
    margin: 0 auto;
    z-index: 3;
    opacity: 0;
    animation-name: pigreindeer2;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation: pigreindeer2 8s ease forwards; */
}

@keyframes pigreindeer2 {
    0% {
        opacity: 1;
        position: absolute;
        width: 620px;
        top: 500px;
        right: 20px;
        margin: 0 auto;
        z-index: 3;
    }
    100% {
        opacity: 1;
        position: absolute;
        width: 620px;
        top: 500px;
        right: 80px;
        z-index: -1;
    }
}

header .titleimg {
    margin: 0 auto;
    display: block;
    width: 40%;
    padding-top: 120px;
}

header p {
    padding: 5px;
    font-size: 1.4em;
    margin: 0 auto;
    line-height: 1.6;
}

/* // ------------------------------- swiper -------------------------------- */

.swiper-container::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(./img/fixfloat1.png);
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    z-index: 999;
}

.swiper-container {
    width: 60%;
    height: 100%;
    /* height: 20%; */
    margin: 20px auto;
    border-radius: 12px;
    border: 10px solid red;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;
    /* border: 3px solid rgb(68, 0, 255); */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 3px solid rgb(0, 255, 106); */
}

.swiper-button-next {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 4px 4px 15px black;
}

.swiper-button-prev {
    color: #fff;
    background-color: red;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px black;
}

.swiper-button-next:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(159, 0, 0);
    padding: 50px;
    border-radius: 12px;
    transition: 0.5s;
}

.swiper-button-prev:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(159, 0, 0);
    padding: 50px;
    border-radius: 12px;
    transition: 0.5s;
}

/* // ------------------------------- wheel of fortune -------------------------------- */

.game {
    margin: 120px auto;
    /* height: 900px; */
    position: relative;
    /* border: #c22e29 2px solid; */
    /* background-color: #fff; */
}

.game .line {
    margin: 0 auto;
    display: block;
    width: 80%;
    top: 0px;
    left: 80px;
}

.game .board {
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 280px;
    left: 80px;
    z-index: -1;
    
}

.game .piggift {
    display: block;
    position: absolute;
    width: 30%;
    top: 250px;
    right: 80px;
    margin: 0 auto;
    z-index: 0;
    animation: piggift 3s linear forwards;
    animation-delay: 3s;
    /* border: #c22e29 2px solid; */
}

/* @keyframes piggift {
    0% {
       right: 10%;
    }
    100% {
        right: 15%;
    }
} */

#app {
    width: 400px;
    /* height: 400px; */
    /* padding-top: 800px; */
    /* padding-bottom: 100px; */
    margin: 0 auto;
    position: relative;
    /* border: #c22e29 2px solid; */
    
}

.marker {
    position: absolute;
    width: 60px;
    left: 172px;
    top: 0px;
    z-index: 2;
}

.wheel {
    width: 100%;
    height: 100%;
}

.wheel2 {
    position: absolute;
    width: 440px;
    height: 580px;
    left: -18px;
    z-index: -1;
}

#app p {
    font-size: 1.8em;
    padding-top: 120px;
    color: #000000;
    text-align: center;
    line-height: 1.4;
}

.button {
    display: block;
    width: 70%;
    /* margin-top: 200px; */
    margin: 0 auto;
    padding-top: 120px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.blur {
    animation: blur 10s;
}

@keyframes blur {
    0% {
        filter: blur(1.5px);
    }
    80% {
        filter: blur(0.8px);
    }
    100% {
        filter: blur(0px);
    }
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 10px auto;
    color: black;
    background-color: yellow;
}


/* // ------------------------------- 遊戲規則 -------------------------------- */
.gamerules{
    padding: 30px;
    background-color: rgb(9, 0, 85);
    margin: auto;
    width: 600px;
    text-align: center;
    border: #fff82a 3px solid;
    border-radius: 55px;
    box-shadow:0px 0px 12px 4px #fff82a;
}

.gamerules h2{
    font-size: 2em;
}

.gamerules p{
    text-align: left;
    line-height: 1.6;
}

/* // ------------------------------- brandlist -------------------------------- */

.brandlist {
    /* display: flex; */
    margin: 50px auto;
    /* border: #c22e29 2px solid; */
}

.brandlist ul {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: #c22e29 2px solid; */
}

.brandlist li {
    padding: 30px 10px;
    width: 300px;
    border: #48358f 2px solid;
    background-color: #fff;
}

.brandlist li img {
    display: block;
    width: 200px;
    margin: auto;
}

.brandlist li p {
    color: black;
    text-align: center;
}

/* // ------------------------------- dashboard -------------------------------- */

.cardarea{
    margin: 0 auto;

    width: 100%;
    /* height: 1000px; */
    padding-bottom: 30px;
    border: #c22e29 2px solid;
    background-color: rgb(255, 204, 204);
}
.cardarea .pigbubble3{
    width: 40%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.cardarea .step1_imgtitle {
    margin: 0 auto;
    display: block;
    width: 40%;
    padding-bottom: 10px;
}

.designcard {
}

.designcard ul{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.designcard ul li{
    flex-grow: 1;
    padding: 10px;
}

.designcard ul li img{
    display: block;
    width: 300px;
}

/* // ------------------------------- pagewrap 留言板確認按鈕 -------------------------------- */

#btn-Preview-Image {
    background-color: #fff;
    border-radius: 1px;
    color: black;
    text-decoration: none;
    line-height: 1.2em;
    width: 100px;
    display: block;
    text-align: center;
}

#btn-Convert-Html2Image {
    background-color: #fff;
    border-radius: 1px;
    color: black;
    text-decoration: none;
    line-height: 1.2em;
    width: 100px;
    display: block;
    text-align: center;
}

/* // ------------------------------- footer -------------------------------- */

footer {
    background-color: rgb(0, 0, 0);
    color: #ffee00;
    padding: 30px;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: center;
}