body {
    margin: 0;
    font-family: "標楷體";
}

.time {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.cards {
    
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    @media screen and (max-width:768px){
        
      
    
       
    }

    .card {
        width: calc(25% - 10px);
        background-color:rgb(226, 220, 220);
        text-align: center;
        margin: 5px;
        padding: 2% 0 2% 0;
        .weather_img {
            max-width: 100%;
            width: 70%;
        }
        h1 {
            font-size: 32px;
        }
        p {
            margin: 12px 0 12px 0;
        }
        .weather_type {
            color: rgb(138, 135, 135);
        }
        .description {
            color: rgb(26, 19, 19);
            font-size: 24px;
            font-weight: bold;
        }
    }
}