$main-color: #000;

@mixin title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 6px;
    @media screen and (max-width: 768px) {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@mixin subtitle {
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "微軟正黑體";
}

nav {
    background-color: rgba(255, 255, 255, 0);
    transition-duration: 0.5s;
    .navbar-brand {
        margin-left: 5%;
        h1 {
            font-family: "Dancing Script", cursive;
            color: black;
            font-size: 70px;
            font-weight: 900;
        }
    }
    .fa-phone-alt {
        color: white;
        display: none;
        margin-left: auto;
        margin-right: 15px;
    }
    button:focus {
        outline: 5px auto #ffffff;
    }
    #navbarSupportedContent {
        ul {
            margin-right: 8%;
            li {
                font-size: 25px;
                padding: 0 20px;
                list-style: none;
                display: inline;
                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 1090px) {
                    font-size: 15px;
                }
                a {
                    color: black;
                }
            }
            .hvr-underline-from-left:before {
                background-color: #999999;
            }
        }
    }
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    .navbar-brand {
        h1 {
            color: white;
        }
    }
    #navbarSupportedContent {
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
    }
}

#book_online {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    top: 200px;
    background-color: $main-color;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
    z-index: 1;
    &:hover {
        transform: rotate(90deg) scale(1.5);
        border-radius: 50%;
        h2 {
            transform: rotate(-90deg) translate(0, -100px);
            opacity: 0;
        }
        #book_online_hover_in {
            opacity: 1;
        }
    }
    h2 {
        color: white;
        margin: 0;
        width: 76px;
        text-align: center;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
    }
    #book_online_hover_in {
        opacity: 0;
        position: fixed;
        transition-duration: 0.5s;
        #book_online_hover_in_box {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transform: rotate(-90deg) scale(0.5);
            h3 {
                padding-top: 10px;
                text-align: center;
            }
        }
    }
}

#back_to_top {
    position: fixed;
    right: 20px;
    bottom: 100px;
    color: $main-color;
    text-decoration: none;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    @media screen and (max-width: 768px) {
        width: 55px;
        height: 55px;
        right: 10px;
        bottom: 10px;
        font-size: 10px;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        .fa-angle-up {
            display: none;
        }
        .fa-caret-up {
            display: block;
        }
    }
    .fa-angle-up {
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 768px) {
            margin-top: -10px;
        }
    }
    .fa-caret-up {
        margin-top: -20px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 768px) {
            margin-top: -10px;
        }
    }
    h4 {
        text-align: center;
        margin-top: -25px;
        @media screen and (max-width: 768px) {
            text-align: center;
            margin-top: -15px;
            font-size: 10px;
        }
    }
}

// first
#first {
    @media screen and (max-width: 768px) {
        padding-top: 82px;
    }
    .banner {
        height: 100vh;
        background-image: url("./img/banner.jpg");
        background-position: top;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
            height: 90vh;
        }
        h1 {
            font-family: "Dancing Script", cursive;
            color: black;
            font-size: 70px;
            font-weight: 900;
            background-color: rgba(255, 255, 255, 0.432);
            padding: 20px;
            @media screen and (max-width: 768px) {
                font-size: 30px;
                padding: 20px;
            }
        }
    }
}

// section2
#section2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(./svg1.svg);

    .svg1 {
        position: absolute !important;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .section2_picture {
        width: 70%;
        z-index: 1;

        .img1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            clip-path: circle(85% at 24% 50%);
        }

        .img2 {
            display: none;
        }
    }

    .word_box2 {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        font-family: "微軟正黑體";

        .word2 {
            color: gray;
            z-index: 1;

            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            hr {
                border: solid 2px gray;
                border-radius: 5%;
            }
        }
    }
}

// section3
#section3 {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 768px) {
        padding: 15% 0;
    }

    .word_box3 {
        width: auto;
        margin-left: 30%;
        padding-top: 5%;
        color: white;
        .fir {
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
        .sec {
            padding-left: 250px;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
}

// forth
#forth {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    h2 {
        @include title;
    }
    .gallery-thumbs {
        width: 60%;
        box-sizing: border-box;
        padding-bottom: 30px;
        @media screen and (max-width: 768px) {
            width: 100%;
            padding-bottom: 10px;
        }
        .swiper-wrapper {
            @media screen and (max-width: 768px) {
                height: 90px;
            }
            .swiper-slide {
                cursor: pointer;
                opacity: 0.4;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 768px) {
                    height: 50%;
                }
                h5 {
                    text-align: center;
                    margin: 0;
                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
            .hvr-underline-from-left:before {
                background-color: #999999;
                @media screen and (max-width: 768px) {
                    background-color: #99999900;
                }
            }
            .swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }
    .gallery-top {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 768px) {
        }
        .swiper-slide {
            background-size: cover;
            background-position: center;
            display: flex;
            flex-wrap: wrap;
            .slide_text {
                position: relative;
                width: 30%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    // height: 50%;
                }
                p {
                    line-height: 40px;
                    @media screen and (max-width: 768px) {
                        line-height: 30px;
                        font-size: 15px;
                        padding-left: 0;
                        height: 250px;
                    }
                }
                a {
                    position: absolute;
                    right: 3vw;
                    bottom: 50px;
                    text-decoration: none;
                    background-color: rgb(91, 91, 216);
                    padding: 5px;
                    color: white;
                    transition-duration: 0.5s;
                    &:hover {
                        background-color: rgb(59, 33, 202);
                    }
                    @media screen and (max-width: 768px) {
                        right: 10px;
                        bottom: 10px;
                    }
                }
                .hvr-underline-from-left:before {
                    background-color: #999999;
                }
            }
            .img_box {
                width: 70%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 97%;
                }
            }
        }
    }
    .swiper-button-next {
        right: 5vw;
        top: 60%;
        @media screen and (max-width: 768px) {
            right: 1vw;
        }
    }
    .swiper-button-prev {
        left: 5vw;
        top: 60%;
        @media screen and (max-width: 768px) {
            left: 1vw;
        }
    }
}

// seventh
.anchor {
    margin-top: -118px;
    margin-bottom: 118px;
    @media screen and (max-width: 768px) {
        margin-top: -82px;
        margin-bottom: 82px;
    }
}
#seventh {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .content {
        h2 {
            @include title;
        }
        .container {
            .row {
                .col-12 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin: 20px 0;
                    img {
                        width: 450px;
                        height: 450px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .nearby_content {
                        // display: flex;
                        // flex-wrap: wrap;
                        // justify-content: center;
                        position: relative;
                        height: 300px;
                        h4 {
                            @include subtitle;
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        p {
                            padding: 0 30px;
                        }
                        a {
                            font-size: 25px;
                            position: absolute;
                            right: 30px;
                            bottom: 0;
                            text-decoration: none;
                        }
                        .hvr-underline-from-left:before {
                            background-color: #999999;
                        }
                    }
                    .nearby_content_right {
                        border-left: #999999 10px solid;
                        margin-left: -20px;
                    }
                    .nearby_content_left {
                        border-right: #999999 10px solid;
                        margin-right: -20px;
                    }
                }
            }
        }
    }
}

#eighth {
    padding: 60px 0;
    background-color: #000000;
    h2 {
        @include title;
        color: white;
    }
    .iframe_box {
        background-color: #000000;
    }
}

// section9
#section9 {
    width: 100%;
    background-image: url(./img/footer.jpg);
    background-size: cover;

    .word_box9_circle {
        width: 300px;
        height: 300px;
        background-color: black;
        border-radius: 50%;
        margin: auto;
        opacity: 50%;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .title9 {
            width: auto;
            padding-top: 60px;
        }

        .words9 {
            margin-top: -50px;
            text-align: center;
        }
    }
}

// footer
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

//mobile
@media screen and (max-width: 768px) {
    #book_online {
        display: none;
    }
    nav {
        background-color: rgba(0, 0, 0, 0.8);
        #navbarSupportedContent {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
        .navbar-brand {
            h1 {
                font-size: 40px;
                color: white;
            }
        }
        .fa-phone-alt {
            display: block;
        }
    }

    #seventh {
        .content {
            .container {
                .row {
                    .col-12 {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .nearby_content {
                            a {
                                font-size: 25px;
                                position: absolute;
                                right: 30px;
                                bottom: 0;
                                text-decoration: none;
                            }
                        }
                        .nearby_content_right {
                            border-left: 0;
                            margin-left: 0;
                        }
                        .nearby_content_left {
                            border-right: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    #eighth {
        .iframe_box {
            iframe {
                width: 90vw;
                height: 50vh;
            }
        }
    }
}

// PD
@media screen and (max-width: 1145px) {
    #section2 {
        height: 60vh;

        .section2_picture {
            .img1 {
                width: 100%;
                height: 100%;
            }
        }
        .word_box2 {
            .word2 {
                font-size: 15px;
            }
        }
    }

    #section3 {
        .word_box3 {
            font-size: 30px;

            .sec {
                padding-left: 200px;
            }
        }
    }

    @media screen and (max-width: 985px) {
        #section2 {
            height: 50vh;
        }

        #section3 {
            width: 100%;
        }
    }

    @media screen and (max-width: 830px) {
        #section2 {
            height: 45vh;
        }
    }

    @media screen and (max-width: 768px) {
        #section2 {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .svg1 {
                opacity: 50%;
            }

            .section2_picture {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .img1 {
                    clip-path: none;
                    display: none;
                }

                .img2 {
                    display: block;
                    width: 100%;
                }
            }

            .word_box2 {
                width: 50%;
                line-height: 15px;

                .word2 {
                    font-size: 15px;
                }
            }
        }

        #section3 {
            .word_box3 {
                width: 100%;
                margin: 0 auto;
                text-align: center;

                .sec {
                    padding-left: 10px;
                }
            }
        }

        #section9 {
            background-image: none;
            padding-bottom: 40px;
            margin-top: 40px;

            .word_box9_circle {
                height: auto;
                background-color: white;
                color: black;
                opacity: 100%;
                font-size: 15px;

                .title9 {
                    font-size: 15px;
                    padding-top: 0;
                }
                .words9 {
                    margin-top: 10px;
                }
            }
        }
        footer {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 400px) {
        #section2 {
            .word_box2 {
                .word2 {
                    font-size: 10px;
                }
            }
        }

        #section9 {
            .word_box9_circle {
                font-size: 10px;
            }
        }

        footer {
            font-size: 10px;
        }
    }
}
