
#tab {
    .tab_btns {
        display: flex;
        justify-content: center;

        .tab_btn {
            border: 1px solid;
            padding: 5px 20px;
          }

      }
  
}

.tab_contents {
    
    .tab_content {
        margin: 0 auto  ;
        display: none;
        max-width: 1050px;
        border: 1px solid;
        padding: 10px;
        .container {
            display: flex;
            justify-content: center;
            .row {
                width: 300px;
    
                img {
                    width: 100%;
                    height: 20vh;
                }
              }
        }
        
        }

        
     
}


.tab_contents {
.tab_content.active {
    display: block;
  }
}