@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap");
body {
  font-family: "微軟正黑體";
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  padding-top: 118px;
  scroll-behavior: smooth;
}
nav {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

nav .navbar-brand h1 {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 70px;
  font-weight: 900;
}

@media screen and (max-width: 1300px) {
  nav .navbar-brand h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 1200px) {
  nav .navbar-brand h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 1092px) {
  nav .navbar-brand h1 {
    font-size: 55px;
  }
}

nav #tel {
  margin-left: auto;
  margin-right: 15px;
}

nav .fa-phone-alt {
  color: white;
  display: none;
}

nav button:focus {
  outline: 5px auto #ffffff;
}

nav #navbarSupportedContent ul li {
  font-size: 25px;
  padding: 0 20px;
  list-style: none;
  display: inline;
}

@media screen and (max-width: 1300px) {
  nav #navbarSupportedContent ul li {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  nav #navbarSupportedContent ul li {
    font-size: 23px;
  }
}

@media screen and (max-width: 1098px) {
  nav #navbarSupportedContent ul li {
    font-size: 20px;
  }
}

nav #navbarSupportedContent ul li a {
  color: black;
  letter-spacing: 3px;
}

nav #navbarSupportedContent ul .hvr-underline-from-left:before {
  background-color: #999999;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.scrolled .navbar-brand h1 {
  color: white;
}

.scrolled #navbarSupportedContent ul li a {
  color: white;
}


#back_to_top {
  position: fixed;
  right: 20px;
  bottom: 100px;
  color: #000;
  text-decoration: none;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 768px) {
  #back_to_top {
    width: 55px;
    height: 55px;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
  }
}

#back_to_top:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#back_to_top:hover .fa-angle-up {
  display: none;
}

#back_to_top:hover .fa-caret-up {
  display: block;
}

#back_to_top .fa-angle-up {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  #back_to_top .fa-angle-up {
    margin-top: -10px;
  }
}

#back_to_top .fa-caret-up {
  margin-top: -20px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  #back_to_top .fa-caret-up {
    margin-top: -10px;
  }
}

#back_to_top h4 {
  text-align: center;
  margin-top: -25px;
}

@media screen and (max-width: 768px) {
  #back_to_top h4 {
    text-align: center;
    margin-top: -15px;
    font-size: 10px;
  }
}

#swiper_banner {
  padding: 60px 0;
}

@media (max-width: 768px) {
  #swiper_banner {
    padding: 0;
  }
}

@media (max-width: 336px) {
  #swiper_banner {
    margin: 20px -2px;
  }
}

#swiper_banner .main .title_text h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 6px;
  font-size: 35px;
  letter-spacing: 6px;
}

#swiper_banner .main .block .container {
  max-width: 100%;
}

#swiper_banner .main .block .container .tab_btns .hvr-underline-from-center:before {
  background: gray;
}

#swiper_banner .main .block .container .tab_btns h5 {
  font-size: 21px;
  letter-spacing: 3px;
  color: #999999;
}

@media (max-width: 375px) {
  #swiper_banner .main .block .container .tab_btns h5 {
    font-size: 18px;
  }
}

#swiper_banner .main .block .container .tab_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#swiper_banner .main .block .container .tab_btns .tab_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  padding: 5px 5px;
  text-align: center;
  color: #023349;
}

#swiper_banner .main .tab_contents .tab_content.active {
  display: block;
  width: 100%;
  max-height: 60vh;
}

#swiper_banner .main .tab_contents .tab_content.active .swiper-container {
  width: 100%;
  height: 50vh;
}

#swiper_banner .main .tab_content {
  display: none;
  margin: 0 auto;
  background-color: white;
  padding: 20px 0;
}

#section_A .container .row .item .houses h5 {
  font-size: 18px;
  margin: 30px 0;
  font-weight: bold;
  letter-spacing: 3px;
}

#section_A .container .row .item .houses p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 3px;
}

#section_A .container .row .item .price h5 {
  font-size: 21px;
  margin: 30px 0;
  font-weight: bold;
  letter-spacing: 3px;
}

#section_A .container .row .item .price p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 3px;
}

#section_B .container .note .big_title h5 {
  text-align: left;
  margin: 30px 0;
  font-size: 21px;
  letter-spacing: 3px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #section_B .container .note .big_title h5 {
    text-align: left;
  }
}

@media (max-width: 336px) {
  #section_B .container .note .big_title h5 {
    text-align: left;
  }
}

#section_B .container .text_content {
  margin-bottom: 30px;
}

#section_B .container .text_content p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 3px;
}



footer {
  background-color: black;
}

footer p {
  font-size: 16px;
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}



@media screen and (max-width: 768px) {
  footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  footer {
    font-size: 10px;
  }
}



/* 鼠標 */
/* mirar si es valido para IE */
body {
  cursor: none;
}

@-webkit-keyframes slidefade {
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.icon {
  -webkit-animation: jelly 0.5s infinite;
          animation: jelly 0.5s infinite;
}

@-webkit-keyframes jelly {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

.cursor-inner {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.cursor-inner--dot {
  width: 8px;
  height: 8px;
  background-color: #b4a05b;
}

.cursor-inner--circle {
  width: 20px;
  height: 20px;
  border: 1px solid #b4a05b;
}

/* .cursor-inner--circle {
	width: 8px;
	height: 8px;
    background-color: rgba(180, 160, 91,0.4);
    mix-blend-mode: difference;
} */
@media screen and (max-width: 53em) {
  .cursor {
    visibility: hidden;
  }
}

a {
  cursor: none;
}
/*# sourceMappingURL=swiper_scss.css.map */