* {
  text-decoration: none;
  list-style: none;
}
body,
html {
  font-family: "微軟正黑體";
  margin: 0;
  scroll-behavior: smooth;
}

// navbar
nav {
  width: 100%;
  position: relative;

  .container {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    //logo
    img {
      display: block;
      width: 110px;
      @media screen and (max-width: 1200px) {
        width: 95px;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    ul {
      display: flex;
      letter-spacing: 3px;

      @media screen and (max-width: 1200px) {
        display: none;
      }

      li {
        width: 100px;
        text-align: center;
        padding: 0;
        position: relative;

        a {
          color: white;
          width: 110px;
          line-height: 55px;
          display: block;
          font-weight: bold;

          //選單字體變顏色
          &:hover {
            color: #00b8ff;
            transition-duration: 0.3s;
          }
        }


      }
    }
    // icon fb ig line
    .icon {
      display: flex;
      max-width: 100%;
      position: absolute;
      right: 40px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      a {
        &:hover {
          opacity: 0.8;
          transition-duration: 0.3s;
        }
      }
      img {
        width: 50px;
        height: 30px;
      }
    }
  }

  // menu------------------------------------------------------------
  #menu {
    width: 70px;
    height: 70px;

    .hamburger {
      display: none;
      width: 60px;
      height: 60px;
      position: relative;
      @media screen and (max-width: 1200px) {
        display: block;
        position: absolute;
        right: 10px;
        width: 50px;
      }

      .line {
        width: 50px;
        height: 6px;
        @media screen and (max-width: 1000px) {
          width: 45px;
          height: 6px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transition-duration: 0.3s;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: white;
      }
      &:hover .line_A {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }
      &:hover .line_B {
        opacity: 0;
      }

      &:hover .line_C {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }

      .line_A {
        top: 25%;
      }
      .line_C {
        top: 75%;
        &:hover {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          transition-property: transform, top;
          transition-duration: 0.5s, 0.1s;
        }
      }
    }
  }
  // menu------------------------------------------------------------
}

// mobile_navbar 手機板選單
.mobile_navbar {
  .mobile_navbar_nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    top: 0;
    margin: 0;
    opacity: 0.9;

    // 關閉手機板選單
    .close_nav {
      color: white;
      position: absolute;
      top: 5px;
      right: 5px;
      text-align: center;
      width: 30px;
      font-size: 20px;
      line-height: 30px;
      border: 1px solid white;
    }
    .mobile_item {
      text-align: center;
      line-height: 50px;
      a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 10px;
        &:hover {
          color: rgb(252, 40, 40);
        }
      }
    }
  }
  .mobile_navbar_nav.active {
    list-style: none;
    padding: 0;
    @media screen and (max-width: 1200px) {
      display: block;
      z-index: 100;
    }
  }
}

//  banner圖片
#contact_bannet {
  .bigbanner {
    background-image: url(./Banner/a02.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    @media screen and (max-width: 1150px) {
      height: 65vh;
    }
    @media screen and (max-width: 1050px) {
      height: 60vh;
    }
    @media screen and (max-width: 1000px) {
      height: 55vh;
    }
    @media screen and (max-width: 950px) {
      height: 50vh;
    }
    @media screen and (max-width: 900px) {
      height: 45vh;
    }
    @media screen and (max-width: 850px) {
      height: 40vh;
    }
    @media screen and (max-width: 800px) {
      height: 38vh;
    }
    @media screen and (max-width: 700px) {
      height: 37vh;
    }
    @media screen and (max-width: 580px) {
      height: 35vh;
    }
    @media screen and (max-width: 530px) {
      height: 33vh;
    }
  }
  img {
    width: 100%;
  }
}

// home_nav
.home_nav {
  font-family: "微軟正黑體";
  margin: 20px 0;
  display: flex;

  width: 50%;

  .item {
    .home {
      &::after {
        content: "\003e";
      }
    }

    a {
      color: black;
    }
  }
}

#contact_group {
  h2 {
  
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border-bottom: solid 1px black;
  }

  .textA {
    text-align: center;
  }

  .container {
    
    .group {
      max-width: 100%;
      width: 70%;
      margin: 0 auto;
      .from_group {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        @media screen and(max-width:975px) {
          flex-wrap: wrap;
          
        }

        .text {
          
          max-width: 100%;
          padding: 0 10px;
          font-family: "微軟正黑體";
          width: 400px;
          height: 40px;
          font-size: 18px;
          line-height: 30px;
        }
        label {
         max-width: 100%;
         width: 150px;
         
          text-align: center;
          letter-spacing: 5px;
        }

        .time {
          max-width: 100%;
          width: 424px;
          height: 44px;
          padding: 0 10px;
   
          font-size: 18px;

        }


       
      }
      textarea {
        max-width: 100%;
        padding: 10px 10px;
        font-size: 18px;
        width: 400px;
        height: 200px;
      }

      .line {
        margin: 0 auto;
        width: 100%;
        margin-top: 30px;
        border-bottom: solid 1px black;
      }
      .buttons {
        width: 100%;
        margin: 30px auto;
        text-align: center;

        .btn {
          width: 100px;
          height: 40px;
          background-color: black;
          color: white;
          border: 0;
          border-radius: 3px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }

}

#footercontext {
  .container {
    padding: 30px 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 120px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      .image {
        img {
          display: block;
          width: 100%;
        }
        h1 {
          font-size: 20px;
          line-height: 35px;
          text-align: center;
          margin: 0;
        }
      }
    }

    .contact {
      width: 700px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 3px;

      h1 {
        font-size: 30px;
        margin: 0;
        font-family: "微軟正黑體";
      }
      p {
        margin: 0;
      }
    }

    .QRcode {
      width: 100px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: gray;
  p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: white;
    display: block;
  }
  // 回首頁按鈕
  #button_top {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #da0017;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      bottom: 15px;
    }
  }
}
