* {
  text-decoration: none;
  list-style: none;
}

html,
body {
  // height: 100%;
  margin: 0;
  font-family: "微軟正黑體";
  scroll-behavior: smooth;
}

// navbar
nav {
  width: 100%;
  position: relative;
  .container {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    //logo
    .logo_icon {
      img {
        display: block;
        width: 100px;
        @media screen and (max-width: 1200px) {
          width: 95px;
        }
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }

    ul {
      display: flex;
      letter-spacing: 3px;

      @media screen and (max-width: 1200px) {
        display: none;
      }

      li {
        width: 100px;
        text-align: center;
        padding: 0;
        position: relative;

        a {
          color: white;
          width: 110px;
          line-height: 55px;
          display: block;
          font-weight: bold;

          //選單字體變顏色
          &:hover {
            color: #00b8ff;
            transition-duration: 0.3s;
          }
        }
      }
    }
    // icon fb ig line
    .icon {
      display: flex;
      max-width: 100%;
      position: absolute;
      right: 40px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      a {
        &:hover {
          opacity: 0.8;
          transition-duration: 0.3s;
        }
      }
      img {
        width: 50px;
        height: 30px;
      }
    }
  }

  // menu------------------------------------------------------------
  #menu {
    width: 70px;
    height: 70px;

    .hamburger {
      display: none;
      width: 60px;
      height: 60px;
      position: relative;
      @media screen and (max-width: 1200px) {
        display: block;
        position: absolute;
        right: 10px;
        width: 50px;
      }

      .line {
        width: 50px;
        height: 6px;
        @media screen and (max-width: 1000px) {
          width: 45px;
          height: 6px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transition-duration: 0.3s;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: white;
      }
      &:hover .line_A {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }
      &:hover .line_B {
        opacity: 0;
      }

      &:hover .line_C {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }

      .line_A {
        top: 25%;
      }
      .line_C {
        top: 75%;
        &:hover {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          transition-property: transform, top;
          transition-duration: 0.5s, 0.1s;
        }
      }
    }
  }
  // menu------------------------------------------------------------
}

// mobile_navbar 手機板選單
.mobile_navbar {
  .mobile_navbar_nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    top: 0;
    margin: 0;
    opacity: 0.9;

    // 關閉手機板選單
    .close_nav {
      color: white;
      position: absolute;
      top: 5px;
      right: 5px;
      text-align: center;
      width: 30px;
      font-size: 20px;
      line-height: 30px;
      border: 1px solid white;
    }
    .mobile_item {
      text-align: center;
      line-height: 50px;
      a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 10px;
        &:hover {
          color: rgb(252, 40, 40);
        }
      }
    }
  }
  .mobile_navbar_nav.active {
    list-style: none;
    padding: 0;
    @media screen and (max-width: 1200px) {
      display: block;
      z-index: 100;
    }
  }
}

// swiper banner
#section_C {
  width: 100%;
  .swiper_banner {
    width: 100%;
    height: auto;
    .swiper-wrapper {
      width: 100%;

      img {
        max-width: 100%;
        width: 100%; //全部圖片滿板
        height: 90vh;
        display: block;
        @media screen and (max-width: 1600px) {
          height: 80vh;
        }
        @media screen and (max-width: 1500px) {
          height: 75vh;
        }
        @media screen and (max-width: 1400px) {
          height: 70vh;
        }
        @media screen and (max-width: 1300px) {
          height: 65vh;
        }

        @media screen and (max-width: 1200px) {
          height: 60vh;
        }
        @media screen and (max-width: 1050px) {
          height: 50vh;
        }
        @media screen and (max-width: 950px) {
          height: 45vh;
        }
        @media screen and (max-width: 850px) {
          height: 40vh;
        }
        @media screen and (max-width: 750px) {
          height: 35vh;
        }
      }
    }

    .swiper_pagination {
      text-align: center;
      z-index: 30;
      position: absolute;
      .swiper-pagination-bullet {
        background-color: black;
        padding: 2px;
      }
    }
    .swiper_pagination {
      color: white;
    }
    .arrow_button {
      color: #fff;
    }
  }
}

// parallax
#parallax {
  width: 100%;
  .photo {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

//   swiper 活動訊息
#section_A {
  width: 100%;
  height: auto;
  background-color: black;

  .swiper_New {
    width: 90%;
    height: auto;
    padding: 60px 0;

    @media screen and (max-width: 1200px) {
      width: 95%;
    }
    // 活動訊息
    h1 {
      letter-spacing: 3px;
      text-align: center;
      margin: 0;
      padding: 0;
      color: white;
      line-height: 30px;

      hr {
        width: 110px;
      }
    }
    h2 {
      color: white;
      letter-spacing: 3px;
      text-align: center;
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      line-height: 30px;
    }
    .swiper_wrap {
      width: 100%;
      .banner_photo {
        width: 100%;

        .big_title_text {
          width: 100%;
          letter-spacing: 3px;

          img {
            width: 100%;
            height: 30vh;
            cursor: pointer;

            @media screen and (max-width: 1200px) {
              height: 50vh;
            }
            @media screen and (max-width: 1095px) {
              height: 45vh;
            }
            @media screen and (max-width: 1000px) {
              height: 40vh;
            }
            @media screen and (max-width: 899px) {
              height: 60vh;
            }
            @media screen and (max-width: 700px) {
              height: 50vh;
            }
            @media screen and (max-width: 560px) {
              height: 40vh;
            }
          }

          .text_A {
            margin: 0;
            text-align: justify;
            font-size: 20px;
            color: #fff;
            line-height: 50px;
          }

          .btn {
            display: inline-block;
            color: white;
            line-height: 40px;
            border: solid 1px white;
            text-align: center;
            width: 80px;
            height: 40px;
            cursor: pointer;
            &:hover {
              border: solid 1px black;
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }
}

#section_B {
  width: 100%;
  .main {
    width: 100%;
    display: flex;
    // align-items: center;
    @media screen and (max-width: 1300px) {
      flex-direction: column;
    }

    .free {
      width: 100%;
      position: relative;

      .free_text {
        letter-spacing: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          color: white;
        }
        a {
          .btn {
            text-align: center;
            padding: 10px;
            border: solid 1px white;
            color: white;
            &:hover {
              background-color: black;
              border: solid 1px black;
            }
          }
        }
      }

      img {
        width: 100%;
        height: 800px;
        display: block;
        @media screen and (max-width: 1900px) {
          height: 700px;
        }
        @media screen and (max-width: 1600px) {
          height: 500px;
        }
        @media screen and (max-width: 1300px) {
          height: 800px;
        }
        @media screen and (max-width: 940px) {
          height: 600px;
        }
        @media screen and (max-width: 700px) {
          height: 500px;
        }
        @media screen and (max-width: 600px) {
          height: 450px;
        }
        @media screen and (max-width: 530px) {
          height: 400px;
        }
        @media screen and (max-width: 450px) {
          height: 300px;
        }
        @media screen and (max-width: 400px) {
          height: 250px;
        }
      }
    }

    .content {
      width: 100%;

      .introduction_t {
        display: flex;
        width: 100%;
        @media screen and (max-width: 950px) {
          flex-direction: column;
        }

        //  課程介紹
        .box_t_A {
          width: 50%;
          height: 400px;
          position: relative;

          @media screen and (max-width: 1900px) {
            height: 350px;
          }
          @media screen and (max-width: 1600px) {
            height: 250px;
          }
          @media screen and (max-width: 1300px) {
            height: 400px;
          }
          @media screen and (max-width: 950px) {
            width: 100%;
          }

          @media screen and (max-width: 940px) {
            height: 550px;
          }
          @media screen and (max-width: 800px) {
            height: 450px;
          }
          @media screen and (max-width: 700px) {
            height: 400px;
          }
          @media screen and (max-width: 500px) {
            height: 350px;
          }
          @media screen and (max-width: 375px) {
            height: 280px;
          }

          img {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          .text_content_A {
            letter-spacing: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
              color: white;
            }
            a {
              .btn {
                text-align: center;
                padding: 10px;
                border: solid 1px white;
                color: white;
                &:hover {
                  background-color: black;
                  border: solid 1px black;
                }
              }
            }
          }
        }
        // 私人教練
        .box_t_B {
          width: 50%;
          height: 400px;
          background-color: gray;
          position: relative;

          @media screen and (max-width: 1900px) {
            height: 350px;
          }
          @media screen and (max-width: 1600px) {
            height: 250px;
          }
          @media screen and (max-width: 1300px) {
            height: 400px;
          }
          @media screen and (max-width: 950px) {
            width: 100%;
          }

          @media screen and (max-width: 940px) {
            height: 550px;
          }
          @media screen and (max-width: 800px) {
            height: 450px;
          }
          @media screen and (max-width: 700px) {
            height: 400px;
          }
          @media screen and (max-width: 500px) {
            height: 350px;
          }
          @media screen and (max-width: 375px) {
            height: 280px;
          }
          img {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          .text_content_B {
            letter-spacing: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
              color: white;
            }
            a {
              .btn {
                text-align: center;
                padding: 10px;
                border: solid 1px white;
                color: white;
                &:hover {
                  background-color: black;
                  border: solid 1px black;
                }
              }
            }
          }
        }
      }

      .introduction_b {
        display: flex;
        width: 100%;
        height: 50%;
        @media screen and (max-width: 950px) {
          flex-direction: column;
        }
        // 環境介紹
        .box_b_A {
          width: 50%;
          height: 400px;
          background-color: gray;
          position: relative;

          @media screen and (max-width: 1900px) {
            height: 350px;
          }
          @media screen and (max-width: 1600px) {
            height: 250px;
          }
          @media screen and (max-width: 1300px) {
            height: 400px;
          }
          @media screen and (max-width: 950px) {
            width: 100%;
          }

          @media screen and (max-width: 940px) {
            height: 550px;
          }
          @media screen and (max-width: 800px) {
            height: 450px;
          }
          @media screen and (max-width: 700px) {
            height: 400px;
          }
          @media screen and (max-width: 500px) {
            height: 350px;
          }
          @media screen and (max-width: 375px) {
            height: 280px;
          }

          img {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          .text_content_C {
            letter-spacing: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
              color: white;
            }
            a {
              .btn {
                text-align: center;
                padding: 10px;
                border: solid 1px white;
                color: white;
                &:hover {
                  background-color: black;
                  border: solid 1px black;
                }
              }
            }
          }
        }
        // 聯絡我們
        .box_b_B {
          width: 50%;
          height: 400px;
          position: relative;

          @media screen and (max-width: 1900px) {
            height: 350px;
          }
          @media screen and (max-width: 1600px) {
            height: 250px;
          }
          @media screen and (max-width: 1300px) {
            height: 400px;
          }
          @media screen and (max-width: 950px) {
            width: 100%;
          }

          @media screen and (max-width: 940px) {
            height: 550px;
          }
          @media screen and (max-width: 800px) {
            height: 450px;
          }
          @media screen and (max-width: 700px) {
            height: 400px;
          }
          @media screen and (max-width: 500px) {
            height: 350px;
          }
          @media screen and (max-width: 375px) {
            height: 280px;
          }
          img {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          .text_content_D {
            letter-spacing: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
              color: black;
            }
            a {
              .btn {
                text-align: center;
                padding: 10px;
                border: solid 1px black;
                color: black;
                &:hover {
                  background-color: white;
                  border: solid 1px white;
                }
              }
            }
          }
        }
      }
    }
  }
}

#footercontext {
  .container {
    padding: 30px 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 120px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      .image {
        img {
          display: block;
          width: 100%;
        }
        h1 {
          font-size: 20px;
          line-height: 35px;
          text-align: center;
          margin: 0;
        }
      }
    }

    .contact {
      width: 700px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 3px;

      h1 {
        font-size: 30px;
        margin: 0;
        font-family: "微軟正黑體";
      }
      p {
        margin: 0;
      }
    }

    .QRcode {
      width: 100px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: gray;
  p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: white;
    display: block;
  }
  // 回首頁按鈕
  #button_top {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #da0017;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      bottom: 15px;
    }
  }
}
