* {
  text-decoration: none;
  list-style: none;
}

body,
html {
  font-family: "Noto Serif TC", serif;
  margin: 0;
  scroll-behavior: smooth;
}

// navbar
nav {
  width: 100%;
  position: relative;

  .container {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    //logo
    .logo_icon {
      img {
        display: block;
        width: 100px;
        @media screen and (max-width: 1200px) {
          width: 95px;
        }
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }


    ul {
      display: flex;
      letter-spacing: 3px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      li {
        width: 100px;
        text-align: center;
        padding: 0;
        position: relative;
        a {
          color: white;
          width: 110px;
          line-height: 55px;
          display: block;
          font-weight: bold;

          //選單字體變顏色
          &:hover {
            color: #00b8ff;
            transition-duration: 0.3s;
          }
        }
      }
    }
    // icon fb ig line
    .icon {
      display: flex;
      max-width: 100%;
      position: absolute;
      right: 40px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      a {
        &:hover {
          opacity: 0.8;
          transition-duration: 0.3s;
        }
      }
      img {
        width: 50px;
        height: 30px;
      }
    }
  }

  
  #menu {
    width: 70px;
    height: 70px;

    .hamburger {
      display: none;
      width: 60px;
      height: 60px;
      position: relative;
      @media screen and (max-width: 1200px) {
        display: block;
        position: absolute;
        right: 10px;
        width: 50px;
      }

      .line {
        width: 50px;
        height: 6px;
        @media screen and (max-width: 1000px) {
          width: 45px;
          height: 6px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transition-duration: 0.3s;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: white;
      }
      &:hover .line_A {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }
      &:hover .line_B {
        opacity: 0;
      }

      &:hover .line_C {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        transition-property: transform, top;
        transition-duration: 0.5s, 0.1s;
      }

      .line_A {
        top: 25%;
      }
      .line_C {
        top: 75%;
        &:hover {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          transition-property: transform, top;
          transition-duration: 0.5s, 0.1s;
        }
      }
    }
  }
}

// mobile_navbar 手機板選單
.mobile_navbar {
  .mobile_navbar_nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    top: 0;
    margin: 0;
    opacity: 0.9;

    // 關閉手機板選單
    .close_nav {
      color: white;
      position: absolute;
      top: 5px;
      right: 5px;
      text-align: center;
      width: 30px;
      font-size: 20px;
      line-height: 30px;
      border: 1px solid white;
    }
    .mobile_item {
      text-align: center;
      line-height: 50px;
      a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 10px;
        &:hover {
          color: rgb(252, 40, 40);
        }
      }
    }
  }
  .mobile_navbar_nav.active {
    list-style: none;
    padding: 0;
    @media screen and (max-width: 1200px) {
      display: block;
      z-index: 100;
    }
  }
}

#banner {

  .image {
    width: 100%;
    height: 70vh;
    background-image: url(./surroundings/3240975.jpg);
    background-size: cover;
    background-position: 10% 5%;

    @media screen and (max-width: 1000px) {
      height: 65vh;
    }
    @media screen and (max-width: 900px) {
      height: 60vh;
    }
    @media screen and (max-width: 800px) {
      height: 50vh;
    }
    @media screen and (max-width: 700px) {
      height: 45vh;
    }
    @media screen and (max-width: 630px) {
      height: 40vh;
    }
    @media screen and (max-width: 530px) {
      height: 35vh;
    }
    @media screen and (max-width: 470px) {
      height: 30vh;
    }
    @media screen and (max-width: 420px) {
      height: 25vh;
    }
 
  }
  img {
    width: 100%;
    display: block;
  }
}

// home_nav
.home_nav {
  font-family: "微軟正黑體";
  margin: 20px auto;
  display: flex;
  width: 100%;

  .item {
    .home {
      &::after {
        content: "\003e";
      }
    }

    a {
      color: black;
    }
  }
}

#surroundings {
  width: 100%;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  @media screen and (max-width: 945px) {
    display: none;
  }

  .container {
    max-width: 100%;
    width: 1600px;
    margin: 50px auto;
    h1 {
      text-align: center;
      margin: 0;
    }
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 100%;
      margin: 50px;

      img {
        width: 100%;
        display: block;
      }
    }
    .text {
      width: 100%;
      margin: 50px;
    }
  }
}

// swiper banner
#section_C {
  display: none;
  width: 100%;
  @media screen and (max-width: 945px) {
    display: block;
  }
  h1 {
    text-align: center;
    margin: 10;
  }

  .swiper_banner {
    width: 100%;
    height: auto;
    .swiper-wrapper {
      width: 100%;

      img {
        max-width: 100%;
        width: 100%; //全部圖片滿板
        height: 90vh;
        display: block;
        @media screen and (max-width: 1600px) {
          height: 80vh;
        }
        @media screen and (max-width: 1500px) {
          height: 75vh;
        }
        @media screen and (max-width: 1400px) {
          height: 70vh;
        }
        @media screen and (max-width: 1300px) {
          height: 65vh;
        }

        @media screen and (max-width: 1200px) {
          height: 60vh;
        }
        @media screen and (max-width: 1050px) {
          height: 50vh;
        }
        @media screen and (max-width: 950px) {
          height: 45vh;
        }
        @media screen and (max-width: 850px) {
          height: 40vh;
        }
        @media screen and (max-width: 750px) {
          height: 35vh;
        }
      }

      .swiper_text {
        p {
          font-weight: bold;
          line-height: 40px;
          letter-spacing: 3px;
          padding: 10px;
        }
      }
    }

    .swiper_pagination {
      text-align: center;
      z-index: 30;
      position: absolute;
    }
    .swiper_pagination {
      color: white;
    }
    .arrow_button {
      color: #fff;
    }
  }
}

#footercontext {
  .container {
    padding: 30px 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 120px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      .image {
        img {
          display: block;
          width: 100%;
        }
        h1 {
          font-size: 20px;
          line-height: 35px;
          text-align: center;
          margin: 0;
        }
      }
    }

    .contact {
      width: 700px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 3px;

      h1 {
        font-size: 30px;
        margin: 0;
        font-family: "微軟正黑體";
      }
      p {
        margin: 0;
      }
    }

    .QRcode {
      width: 100px;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: gray;
  p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: white;
    display: block;
  }
  // 回首頁按鈕
  #button_top {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #da0017;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      bottom: 15px;
    }
  }
}
