html,
body {
    margin: 0;
}

#Banner {
    .banner {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            display: block;
        }
    }
}


#text_photo {
    .container {
        .row {
            .text {
                p {
                    line-height: 60px;
                }
            }
            .image {
                
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}




#tea {
    .row {
        .image {
           
            img {
                width: 100%;
                display: block;
            }
        }

        .title_text {

        }
    }

}

#new {
    .container_a {
        max-width: 600px;
        margin: 30px auto;
        .row {
            
            line-height: 60px;
            border-bottom: 1px black solid;
            
          
            box-sizing: border-box;
            .date  {
                padding: 0;
                p {
                  
                    margin: 0;
                }

                
            }
            .small_text {
                p{

                    margin: 0;
                   
                }

               
            }

            
        }
    }
}



#loction {
    .container {
        .row {
            .IMAGE {
                
                img {
                    width: 100%;
                }
            }
        }
    }
}